<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="#{title.application}">eToolStore</title>

    <!-- JS-->
    <script src="../../resources/js/jquery-3.1.1.min.js"
            th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
    <script src="../../resources/component/bootstrap/js/bootstrap.js"
            th:src="@{/resources/component/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Custom CSS styles-->
    <link rel="stylesheet" href="../../resources/css/style.css" th:href="@{/css/style.css}"/>

    <!-- Bootstrap styles-->
    <link rel="stylesheet" href="../../resources/component/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/resources/component/bootstrap/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="../../resources/component/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/component/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../resources/component/font-awesome/css/font-awesome.min.css"
          th:href="@{/resources/component/font-awesome/css/font-awesome.min.css}"/>

    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

    <!-- AngularJS-->
    <script src="../../resources/js/angular.js" th:src="@{/js/angular.js}"></script>
    <script src="../../resources/js/formApp.js" th:src="@{/js/formApp.js}"></script>
    <script src="../../resources/js/orderApp.js" th:src="@{/js/orderApp.js}"></script>
</head>


<body>

<!-- HEADER FRAGMENT-->
<div id="header" class="row col-sm-12" th:fragment="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Shop Logo -->
                <a class="navbar-brand" href="#" th:href="@{/home}">
                    <span id="nav-logo">
                    eTool-Store
                    <i class="fa fa-bolt" aria-hidden="true" style="color: #ffff00;"></i>

                     </span>
                </a>
            </div>

            <!-- Login - Register -->
            <div sec:authorize="isAnonymous()">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a id="navbar-log-in" href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            SignIn<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:href="@{/login}">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                Login</a>
                            </li>
                            <li><a href="#" th:href="@{/user/register}">
                                <i class="fa fa-address-card-o" aria-hidden="true"></i>
                                Register</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>


            <!-- Sign Out -->
            <div id="log-out" sec:authorize="isAuthenticated()">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" th:href="@{/logout}">
                        <i class="fa fa-power-off" aria-hidden="true"></i>
                        SignOut
                    </a>
                    </li>
                </ul>
            </div>


            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Order -->
                    <li><a href="#" th:href="@{/order/detail}">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Order</a>
                    </li>

                    <!--Admin manage-->
                    <li class="dropdown" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                            Admin-manage<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:href="@{/product/manage/create}">
                                <i class="fa fa-motorcycle" aria-hidden="true"></i>
                                Product create</a>
                            </li>
                            <li><a href="#" th:href="@{/product/admin/manage/all/page/0}">
                                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                                Product manage</a>
                            </li>
                            <li><a href="#" th:href="@{/order/admin/manage/all/page/0}">
                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                Order manage</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="#"
                                   th:href="@{/user/admin/manage/page/0}">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                User manage</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <!-- Search block-->
                <form action="#" th:action="@{/product/search}" method="post" class="navbar-form navbar-left">
                    <input type="text" id="comment" name="searchTerm" placeholder="Search product..." class="form-control"/>
                    <button type="submit" name="startSearch" class="btn">
                        <i class="fa fa-search" aria-hidden="true"></i> Search!
                    </button>
                </form>
            </div>

        </div>
    </nav>
</div>
<!-- Header END -->

<!-- SIDEBAR FRAGMENT
http://bootsnipp.com/snippets/featured/sidebar-navigation-with-scrollspy
-->
<div class="col-sm-1" th:fragment="sidebar">
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav" >
                <li class="sidebar-brand">
                    <a href="#" th:href="@{/product/all/page/0}">
                        <span class="fa fa-asterisk solo">~ ALL ~</span>
                    </a>
                </li>
                <li >
                    <a href="#" th:href="@{/product/hand_tool/page/0}" data-scroll>
                        <span class="fa fa-hand-o-right solo"><span id="sidebar-item">Hand Tool</span></span></span>
                    </a>
                </li>
                <li>
                    <a href="#" th:href="@{/product/electric/page/0}" data-scroll>
                        <span class="fa fa-hand-o-right solo"><span id="sidebar-item">Electric</span> </span>
                    </a>
                </li>
                <li>
                    <a href="#" th:href="@{/product/hydraulic/page/0}" data-scroll>
                        <span class="fa fa-hand-o-right solo"><span id="sidebar-item">Hydraulic</span> </span>
                    </a>
                </li>
                <li>
                    <a href="#" th:href="@{/product/pneumatic/page/0}" data-scroll>
                        <span class="fa fa-hand-o-right solo"><span id="sidebar-item">Pneumatic</span> </span>
                    </a>
                </li>
                <li>
                    <a href="#" th:href="@{/product/other/page/0}" data-scroll>
                        <span class="fa fa-hand-o-right solo"><span id="sidebar-item">Other</span> </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<!-- MAIN CONTENT -->
<div id="main-content" class="row col-sm-10">


    <h1 th:text="#{title.headline}" id="home-headline">eTool-Store - the shop of all kinds of tools</h1>

    <p id="home-description">
        This project is my result of consolidating in practice the study of some popular Java EE frameworks.
        <br/>
        <strong>Back-end:</strong>
        <br/>
        Spring Web-MVC, Spring Security (integration with Thymeleaf Security and Spring DATA JPA),
        Maven, Apache commons (photo upload), Javax Mail,  Log4j (integration with GSON).
        <br/>

        <strong>Database layer:</strong>
        <br/>
        PostgreSQL, Spring DATA JPA;
        <br/>

        <strong>Front-end:</strong>
        <br/>
            CSS, Bootstrap,  FontAwesome icons,  Photoshop.
            HTML pages with Thymeleaf and Thymeleaf Security tags.
            AngularJS (for validation user’s input and for invoke REST methods from Spring-MVC controller);
        <hr/>

        <strong>The brief description of the "eToolStore" project:</strong>
        <br/>
        Internet shop has users with different roles and possibilities: customers and managerial personal (users and administrator).
        Customers can register, sign in, operate with products items in their current cart, communicate with managerial personal via email.
        Users and Administrator can operate with Products (CRUD, change status), Orders (Edit, Delete, Change current status),
        and only Administrator have permission to deal with Users (Lock, Unlock, Delete).
        Also exist a possibility to search and sorting products of some parameters during the browsing.
        <br/>
    </p>
    <hr/>


    <h3 id="home-product-category">Chose category of products</h3>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail short" th:href="@{/product/electric/page/0}">
                <img src="../../resources/images/electric.jpg" alt="...">
                <span id="thmb-title">ELECTRIC</span>
            </a>
        </div>

        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail short" th:href="@{/product/hand_tool/page/0}">
                <img src="../../resources/images/hand.png" alt="...">
                <span id="thmb-title">HAND TOOL</span>
            </a>
        </div>

        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail short" th:href="@{/product/hydraulic/page/0}">
                <img src="../../resources/images/hydraulic.jpg" alt="...">
                <span id="thmb-title">HYDRAULIC</span>

            </a>
        </div>

        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail short" th:href="@{/product/pneumatic/page/0}">
                <img src="../../resources/images/pneumatic.jpg" alt="...">
                <span id="thmb-title">PNEUMATIC</span>

            </a>
        </div>
    </div>


    <!-- **************************************************************************************************** -->


    <!--<div id="sort-button-block" >-->
    <!--<a href="#" id="button-red"  class="btn btn-default btn-sm" role="button">Red</a>-->
    <!--<a href="#" id="button-blue-light"  class="btn btn-default btn-sm" role="button">Blue-light</a>-->
    <!--<a href="#" id="button-orange"  class="btn btn-default btn-sm" role="button">Orange</a>-->
    <!--<a href="#" id="button-yellow"  class="btn btn-default btn-sm" role="button">Yellow</a>-->
    <!--<a href="#" id="button-green"  class="btn btn-default btn-sm" role="button">Green</a>-->
    <!--<a href="#" id="button-green-lite"  class="btn btn-default btn-sm" role="button">Green-lite</a>-->
    <!--<a href="#" id="button-grey"  class="btn btn-default btn-sm" role="button">Grey</a>-->
    <!--<a href="#" id="button-blue"  class="btn btn-default btn-xs" role="button">Blue</a>-->
    <!--<a href="#" id="button-blue"  class="btn btn-default btn-sm" role="button">Blue</a>-->
    <!--<a href="#" id="button-blue-active" class="btn btn-default btn-sm" role="button">Blue-Active</a>-->
    <!--</div>-->


    <!-- **************************************************************************************************** -->


</div>
<!-- End Main content -->


<!-- FOOTER FRAGMENT-->
<footer class="footer" th:fragment="footer">
    <div class="container col-md-5 col-md-offset-7">
        <p class="text-muted ">Created: 2017, Ukraine, obeletc.sergey@gmail.com</p>
    </div>
</footer>


</body>
</html>


<!-- **************************************************************************************************** -->


<!-- Order Detail -->
<!--<div class="row col-md-8 col-sm-offset-1 order-detail">-->

<!--<h2>Order items</h2>-->
<!--<hr/>-->

<!--<div class="order-brief-info">-->
<!--<p>-->

<!--<strong><i class="fa-li fa fa-caret-right" aria-hidden="true"></i> Shipping Address:</strong> Ukraine, Kiev, Shevchenka 88-->
<!--</p>-->
<!--<p>-->

<!--<strong ><i class="fa-li fa fa-caret-right" aria-hidden="true"></i> Total items:</strong> <span style="color: #843534; font-weight: bold" >66</span>-->
<!--</p>-->
<!--</div>-->

<!--<div th:if="${#lists.isEmpty(activeOrder.lineItems)} ">-->
<!--<h4>You order is Empty!</h4>-->
<!--</div>-->


<!--<h4>List of items in current order</h4>-->

<!--<table class="table table-bordered compact-font filled-head" id="aligned">-->
<!--<tr style="background-color: cornflowerblue">-->
<!--<th>Photo</th>-->
<!--<th>Name</th>-->
<!--<th>Manufacturer</th>-->
<!--<th>Category</th>-->
<!--<th>Amount</th>-->
<!--<th>Price</th>-->
<!--<th>Delete</th>-->
<!--</tr>-->
<!--<tr th:each="item : ${activeOrder.lineItems}">-->
<!--<td>-->
<!--<img src="../../resources/images/kjelberg.jpg" alt="STSM logo" title="STSM logo" th:src="@{/photo/} + ${item.product.id}" />-->
<!--</td>-->
<!--<td>Drill</td>-->
<!--<td>DUSS</td>-->
<!--<td>ELECTRO</td>-->
<!--<td>amount</td>-->
<!--<td>$ 50</td>-->
<!--<td><a href="#" id="button-orange" class="btn btn-default btn-xs" >-->
<!--<i class="fa fa-times" aria-hidden="true"></i> Remove</a>-->
<!--</td>-->

<!--</tr>-->
<!--<tr >-->
<!--<td colspan="4"><strong>Total Amount and Sum of Order:</strong></td>-->
<!--<td>-->
<!--<span th:text="${activeOrder.getItemsAmount()}" style="color: darkgreen; font-size: 14px; ">4</span>-->
<!--</td>-->
<!--<td>-->
<!--<span th:text="${activeOrder.getSumOfItems()}" style="color: brown; font-size: 14px; text-align: center" >66</span>-->
<!--</td>-->
<!--<td>-->
<!--<a href="#" th:href="@{/order/clear/{orderId} (orderId=${activeOrder.id}) }"-->
<!--id="button-red" class="btn btn-default btn-xs">-->
<!--<i class="fa fa-window-close-o" aria-hidden="true"></i>-->
<!--Clear Order</a>-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->

<!--<hr/>-->

<!--<div class="row col-sm-offset-10">-->
<!--<a href="#" th:href="@{/order/confirm/address}" id="button-green" class="btn btn-default btn-sm" >-->
<!--Confirm Order <i class="fa fa-arrow-right" aria-hidden="true"></i>-->
<!--</a>-->
<!--</div>-->

<!--</div>-->
<!-- END Order Detail -->


<!-- **************************************************************************************************** -->


<!-- Order Confirm Address-->
<!--<div class="row col-md-8 col-sm-offset-1 order-detail">-->

<!--<h2> Address for delivery: </h2>-->

<!--<hr/>-->


<!--<form action="#" th:action="@{/order/confirm/address}" th:object="${address}" method="post">-->
<!--<fieldset>-->
<!--<input type="hidden" th:field="*{id}" />-->


<!--<div class="form-group">-->
<!--<label for="country">-->
<!--<span th:text="#{user.country}">Country: </span>-->
<!--</label>-->
<!--<input type="text" th:field="*{country}" id="country"  th:value="*{country}" class="form-control"/>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="state">-->
<!--<span th:text="#{user.state}">State: </span>-->
<!--</label>-->
<!--<input type="text" th:field="*{state}" id="state" th:value="*{state}" class="form-control"/>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="city">-->
<!--<span th:text="#{user.city}">City: </span>-->
<!--</label>-->
<!--<input type="text" th:field="*{city}" id="city" th:value="*{city}" class="form-control"/>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="street">-->
<!--<span th:text="#{user.street}">Street: </span>-->
<!--</label>-->
<!--<input type="text" th:field="*{street}" id="street" th:value="*{street}" class="form-control"/>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="apartment">-->
<!--<span th:text="#{user.apartment}">Apartment:</span>-->
<!--</label>-->
<!--<input type="text" th:field="*{apartment}" id="apartment" th:value="*{apartment}" class="form-control"/>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="zipCode">-->
<!--<span th:text="#{user.zipCode}">ZIP Code: </span>-->
<!--</label>-->
<!--<input type="text" th:field="*{zipCode}" id="zipCode" th:value="*{zipCode}" class="form-control"/>-->
<!--</div>-->

<!--<div class="submit">-->
<!--<button type="submit" name="save" class="btn btn-sm btn-primary" >-->
<!--<i class="fa fa-edit" aria-hidden="true"></i>-->
<!--Change Address!</button>-->
<!--</div>-->


<!--</fieldset>-->
<!--</form>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<hr/>-->


<!--<div class="row">-->
<!--<div class="col-md-4">-->
<!--<a href="#" th:href="@{/order/detail}" id="button-green"  class="btn btn-default btn-sm" >-->
<!--<i class="fa fa-arrow-left" aria-hidden="true"></i>-->
<!--Back (to Order detail)-->
<!--</a>-->
<!--</div>-->

<!--<div class="col-md-2 col-md-offset-6">-->
<!--<a href="#" th:href="@{/order/confirm/comment}" id="button-green"  class="btn btn-default btn-sm" >-->
<!--Next Step-->
<!--<i class="fa fa-arrow-right" aria-hidden="true"></i>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->


<!--</div>-->
<!--END Order Confirm Address-->


<!--************************************************************************************************************-->

<!-- **************************************************************************************************** -->


<!-- Product Detail -->
<!--<div class="container col-sm-6 product-detail">-->
<!--<img src="../../resources/images/fein_kbh.jpg" alt="Detail photo" title="Detail photo" />-->
<!--</div>-->


<!--<div class="container col-sm-5 product-detail">-->

<!--<h2> Manufacturer Name-of-Model </h2>-->

<!--<hr/>-->

<!--<p id="price-title">Price:</p>-->

<!--<div class="container row col-md-12 price-block">-->
<!--<div class="col-md-7 ">-->
<!--<h3>$ 1999.99</h3>-->
<!--</div>-->
<!--<div class=" col-md-5">-->

<!--<a href="#" sec:authorize="isAuthenticated()" th:if="*{unitInStock} < 1"-->
<!--id="button-grey-light" class="btn btn-default btn-sm" role="button">Out of stock...</a>-->

<!--<a href="#" sec:authorize="isAuthenticated()" th:if="*{unitInStock} > 0" th:attr="ng-click='addToCart('+ *{id} +')'"-->
<!--id="button-green" class="btn btn-default btn-sm" role="button" >-->
<!--<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> <span style="margin-left: 6px">Add to Cart!</span> </a>-->

<!--<a href="#" sec:authorize="isAnonymous()" th:href="@{/login}"-->
<!--id="button-grey-light"  class="btn btn-default btn-sm" role="button">-->
<!--<i class="fa fa-sign-in" aria-hidden="true"></i> SignIN!</a>-->


<!--<a href="#" id="button-green"  class="btn btn-default btn-sm" role="button">-->
<!--<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>  Add to Cart</a>-->
<!--</div>-->
<!--</div>-->

<!--<p><strong>Condition:</strong> Brand NEW!!!</p>-->
<!--<p><strong>Unit:</strong> several left\large\huge</p>-->

<!--<hr/>-->

<!--<h3>Description</h3>-->
<!--<div class="product-description">-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
<!--Aliquam cupiditate dicta expedita harum hic illo iusto laudantium nesciunt nostrum,-->
<!--quam! Accusamus adipisci corporis eligendi est expedita id iure numquam ratione.-->
<!--</p>-->
<!--</div>-->

<!--<hr/>-->

<!--&lt;!&ndash;Attributes - title, body, attribute&ndash;&gt;-->
<!--<div class="product-characterictic">-->
<!--<h3 style="padding-bottom: 16px">Characteristic: </h3>-->

<!--<ul class="fa-ul">-->
<!--<li><i class="fa-li fa fa-caret-right"></i>Power 600 wt</li>-->
<!--<li><i class="fa-li fa fa-caret-right"></i>Voltage: 220 V</li>-->
<!--<li><i class="fa-li fa fa-caret-right"></i>Color: Orange</li>-->
<!--</ul>-->

<!--</div>-->

<!--</div>-->
<!-- END Product-detail-->

<!-- **************************************************************************************************** -->

<!-- THUMBNAILS example
  http://bootsnipp.com/snippets/featured/thumbnail-with-caption-amp-buttons
  -->


<!--<div class="col-xs-18 col-sm-6 col-md-3">-->
<!--<div class="thumbnail">-->
<!--<img src="../../../WEB-INF/resources/images/fein_kbh.jpg" alt="">-->
<!--<div class="caption">-->
<!--<h3>Fein</h3>-->
<!--<h4>Name</h4>-->
<!--<p class="thumbnail-price">90.99 $</p>-->
<!--<p class="thumbnail-description">-->
<!--Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
<!--Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat.-->
<!--Consectetur, culpa itaque odio similique suscipit-->
<!--</p>-->

<!--<p class="thumbnail-buttons">-->
<!--<a href="#" id="btn-add-to-basket" class="btn btn-info btn-sm" role="button">Add to basket!</a>-->
<!--<a href="#" id="btn-detail" class="btn btn-default btn-sm" role="button">Detail...</a>-->
<!--</p>-->
<!--</div>-->
<!--</div>-->

<!--<div class="label-image">-->
<!--<span class="fa-stack fa-lg" id="action">-->
<!--<i class="fa fa-circle fa-stack-2x" id="label-icon" ></i>-->
<!--&lt;!&ndash;<i class="fa-bookmark-o"  aria-hidden="true" id="label-icon"></i>&ndash;&gt;-->
<!--<i class="fa fa-flag fa-stack-1x fa-inverse" id="label-icon" ></i>-->
<!--</span>-->

<!--&lt;!&ndash;<a href="#"> </a>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="#"> <i id="label-icon" aria-hidden="true">T</i></a>&ndash;&gt;-->
<!--</div>-->

<!--</div>-->

<!--<div class="col-xs-18 col-sm-6 col-md-3">-->
<!--<div class="thumbnail">-->
<!--<img src="../../../WEB-INF/resources/images/kjelberg.jpg" alt="">-->
<!--<div class="caption">-->
<!--<h3>Kjelberg</h3>-->
<!--<h4>Name</h4>-->
<!--<p class="thumbnail-price">90.99 $</p>-->
<!--<p class="thumbnail-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>-->

<!--<p class="thumbnail-buttons">-->
<!--<a href="#" id="btn-add-to-basket-lock" class="btn btn-info btn-sm" role="button">Add to basket!</a>-->
<!--<a href="#" id="btn-detail" class="btn btn-default btn-sm" role="button">Detail...</a>-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!-- **************************************************************************************************** -->


<!--PAGINATION example-->
<!--<div class="container col-sm-10" id="pagination-products">-->
<!--<ul class="pagination">-->
<!--<li class="disabled"><a href="#">&laquo;</a></li>-->
<!--<li class="active"><a href="#">&lsaquo; Prev</a></li>-->
<!--<li><a href="#">2</a></li>-->
<!--<li><a href="#">3</a></li>-->
<!--<li><a href="#">4</a></li>-->
<!--<li><a href="#">Next</a></li>-->
<!--<li><a href="#">&raquo;</a></li>-->
<!--</ul>-->
<!--</div>-->





