<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="#{title.application}">_Store_test_title_</title>

    <!-- JS-->
    <script src="../../resources/js/jquery-3.1.1.min.js"
            th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
    <script src="../../resources/component/bootstrap/js/bootstrap.js"
            th:src="@{/resources/component/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Custom CSS styles-->
    <link rel="stylesheet" href="../../resources/css/style.css"  th:href="@{/css/style.css}" />

    <!-- Bootstrap styles-->
    <link rel="stylesheet" href="../../resources/component/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/resources/component/bootstrap/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" href="../../resources/component/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/component/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../resources/component/font-awesome/css/font-awesome.min.css"
          th:href="@{/resources/component/font-awesome/css/font-awesome.min.css}" />

    <!-- AngularJS-->
    <script src="../../resources/js/angular.js" th:src="@{/js/angular.js}"></script>
    <script src="../../resources/js/formApp.js" th:src="@{/js/formApp.js}"></script>
    <script src="../../resources/js/orderApp.js" th:src="@{/js/orderApp.js}"></script>
</head>


<body>

    <!-- HEADER FRAGMENT-->
    <div id="header" class="row col-sm-12" th:fragment="header" >
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Shop Logo -->
                    <a class="navbar-brand" href="#" th:href="@{/home}">eTool-Store</a>
                </div>

                <!-- Login - Register -->
                <div  sec:authorize="isAnonymous()">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a id="navbar-log-in" href="#"  class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                SignIn<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" th:href="@{/login}">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                                    Login</a>
                                </li>
                                <li><a href="#" th:href="@{/user/register}">
                                    <i class="fa fa-address-card-o" aria-hidden="true"></i>
                                    Register</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>


                <!-- Sign Out -->
                <div id="log-out" sec:authorize="isAuthenticated()">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" th:href="@{/logout}">
                            SignOut
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>


                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Order -->
                        <li><a href="#" th:href="@{/order/detail}">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            Order</a>
                        </li>

                        <!--Admin manage-->
                        <li class="dropdown" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fa fa-cogs" aria-hidden="true"></i>
                                Admin-manage<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" th:href="@{/product/admin/manage/all/page/0}">
                                    <i class="fa fa-futbol-o" aria-hidden="true"></i>
                                    Product manage</a>
                                </li>
                                <li><a href="#" th:href="@{/order/admin/manage/all/page/0}">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    Order manage</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a sec:authorize="hasRole('ROLE_ADMIN')"  href="#" th:href="@{/user/admin/manage/page/0}">
                                    <i class="fa fa-user-o" aria-hidden="true"></i>
                                    User manage</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Search block-->
                    <form action="#" th:action="@{/product/search}" method="post" class="navbar-form navbar-left">
                        <input type="text" id="comment" name="searchTerm" value="Search product..." class="form-control"/>
                        <button type="submit" name="startSearch" class="btn">
                            <i class="fa fa-search" aria-hidden="true"></i> Search!</button>
                    </form>
                </div>

            </div>
        </nav>
    </div>
    <!-- Header END -->

    <!-- SIDEBAR FRAGMENT
    http://bootsnipp.com/snippets/featured/sidebar-navigation-with-scrollspy
    -->
    <div class="col-sm-1" th:fragment="sidebar">
        <div id="sidebar-wrapper">
            <nav id="spy">
                <ul class="sidebar-nav nav">
                    <li class="sidebar-brand">
                        <a href="#" th:href="@{/product/all/page/0}"><span class="fa fa-home solo">~ ALL ~</span></a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/product/hand_tool/page/0}" data-scroll>
                            <span class="fa fa-anchor solo">Hand Tool</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/product/electric/page/0}" data-scroll>
                            <span class="fa fa-anchor solo">Electric </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/product/hydraulic/page/0}" data-scroll>
                            <span class="fa fa-anchor solo">Hydraulic </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/product/pneumatic/page/0}" data-scroll>
                            <span class="fa fa-anchor solo">Pneumatic </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <!-- THUMBNAILS example
    http://bootsnipp.com/snippets/featured/thumbnail-with-caption-amp-buttons
    -->
    <div id="main-content" class="row col-sm-10">


        <!-- Product Detail -->
        <div class="container col-sm-6 product-detail">
            <img src="../../resources/images/fein_kbh.jpg" alt="Detail photo" title="Detail photo" />
        </div>


        <div class="container col-sm-5 product-detail">

            <h2> Manufacturer Name-of-Model </h2>

            <hr/>

            <p id="price-title">Price:</p>

            <div class="container row col-md-12 price-block">
                <div class="col-md-7 ">
                    <h3>$ 1999.99</h3>
                </div>
                <div class=" col-md-5">

                    <a href="#" sec:authorize="isAuthenticated()" th:if="*{unitInStock} < 1"
                       id="button-grey-light" class="btn btn-default btn-sm" role="button">Out of stock...</a>

                    <a href="#" sec:authorize="isAuthenticated()" th:if="*{unitInStock} > 0" th:attr="ng-click='addToCart('+ *{id} +')'"
                       id="button-green" class="btn btn-default btn-sm" role="button" >
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> <span style="margin-left: 6px">Add to Cart!</span> </a>

                    <a href="#" sec:authorize="isAnonymous()" th:href="@{/login}"
                       id="button-grey-light"  class="btn btn-default btn-sm" role="button">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> SignIN!</a>


                    <a href="#" id="button-green"  class="btn btn-default btn-sm" role="button">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>  Add to Cart</a>
                </div>
            </div>

            <p><strong>Condition:</strong> Brand NEW!!!</p>
            <p><strong>Unit:</strong> several left\large\huge</p>

            <hr/>

            <h3>Description</h3>
            <div class="product-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquam cupiditate dicta expedita harum hic illo iusto laudantium nesciunt nostrum,
                quam! Accusamus adipisci corporis eligendi est expedita id iure numquam ratione.
            </p>
            </div>

            <hr/>

            <!--Attributes - title, body, attribute-->
            <div class="product-characterictic">
                <h3 style="padding-bottom: 16px">Characteristic: </h3>

                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-caret-right"></i>Power 600 wt</li>
                    <li><i class="fa-li fa fa-caret-right"></i>Voltage: 220 V</li>
                    <li><i class="fa-li fa fa-caret-right"></i>Color: Orange</li>
                </ul>

            </div>

        </div>
        <!-- END Product-detail-->



        <!--<div id="sort-button-block" >-->
            <!--<a href="#" id="button-red"  class="btn btn-default btn-sm" role="button">Red</a>-->
            <!--<a href="#" id="button-blue-light"  class="btn btn-default btn-sm" role="button">Blue-light</a>-->
            <!--<a href="#" id="button-orange"  class="btn btn-default btn-sm" role="button">Orange</a>-->
            <!--<a href="#" id="button-yellow"  class="btn btn-default btn-sm" role="button">Yellow</a>-->
            <!--<a href="#" id="button-green"  class="btn btn-default btn-sm" role="button">Green</a>-->
            <!--<a href="#" id="button-green-lite"  class="btn btn-default btn-sm" role="button">Green-lite</a>-->
            <!--<a href="#" id="button-grey"  class="btn btn-default btn-sm" role="button">Grey</a>-->
            <!--<a href="#" id="button-blue"  class="btn btn-default btn-xs" role="button">Blue</a>-->
            <!--<a href="#" id="button-blue"  class="btn btn-default btn-sm" role="button">Blue</a>-->
            <!--<a href="#" id="button-blue-active" class="btn btn-default btn-sm" role="button">Blue-Active</a>-->
        <!--</div>-->


        <!--<div class="col-xs-18 col-sm-6 col-md-3">-->
            <!--<div class="thumbnail">-->
                <!--<img src="../../../WEB-INF/resources/images/fein_kbh.jpg" alt="">-->
                <!--<div class="caption">-->
                    <!--<h3>Fein</h3>-->
                    <!--<h4>Name</h4>-->
                    <!--<p class="thumbnail-price">90.99 $</p>-->
                    <!--<p class="thumbnail-description">-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
                        <!--Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat.-->
                        <!--Consectetur, culpa itaque odio similique suscipit-->
                    <!--</p>-->

                    <!--<p class="thumbnail-buttons">-->
                        <!--<a href="#" id="btn-add-to-basket" class="btn btn-info btn-sm" role="button">Add to basket!</a>-->
                        <!--<a href="#" id="btn-detail" class="btn btn-default btn-sm" role="button">Detail...</a>-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="label-image">-->
                <!--<span class="fa-stack fa-lg" id="action">-->
                        <!--<i class="fa fa-circle fa-stack-2x" id="label-icon" ></i>-->
                         <!--&lt;!&ndash;<i class="fa-bookmark-o"  aria-hidden="true" id="label-icon"></i>&ndash;&gt;-->
                        <!--<i class="fa fa-flag fa-stack-1x fa-inverse" id="label-icon" ></i>-->
                <!--</span>-->

                <!--&lt;!&ndash;<a href="#"> </a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="#"> <i id="label-icon" aria-hidden="true">T</i></a>&ndash;&gt;-->
            <!--</div>-->

        <!--</div>-->

        <!--<div class="col-xs-18 col-sm-6 col-md-3">-->
            <!--<div class="thumbnail">-->
                <!--<img src="../../../WEB-INF/resources/images/kjelberg.jpg" alt="">-->
                <!--<div class="caption">-->
                    <!--<h3>Kjelberg</h3>-->
                    <!--<h4>Name</h4>-->
                    <!--<p class="thumbnail-price">90.99 $</p>-->
                    <!--<p class="thumbnail-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>-->

                    <!--<p class="thumbnail-buttons">-->
                        <!--<a href="#" id="btn-add-to-basket-lock" class="btn btn-info btn-sm" role="button">Add to basket!</a>-->
                        <!--<a href="#" id="btn-detail" class="btn btn-default btn-sm" role="button">Detail...</a>-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->




    </div><!-- End row -->

    <!--PAGINATION example-->
    <!--<div class="container col-sm-10" id="pagination-products">-->
    <!--<ul class="pagination">-->
        <!--<li class="disabled"><a href="#">&laquo;</a></li>-->
        <!--<li class="active"><a href="#">&lsaquo; Prev</a></li>-->
        <!--<li><a href="#">2</a></li>-->
        <!--<li><a href="#">3</a></li>-->
        <!--<li><a href="#">4</a></li>-->
        <!--<li><a href="#">Next</a></li>-->
        <!--<li><a href="#">&raquo;</a></li>-->
    <!--</ul>-->
<!--</div>-->



    <!-- FOOTER FRAGMENT-->
    <footer class="footer" th:fragment="footer">
        <div class="container col-md-5 col-md-offset-7">
            <p class="text-muted ">Created: 2017, Ukraine, obeletc.sergey@gmail.com</p>
        </div>
    </footer>


</body>
</html>









<!--
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            &lt;!&ndash; Shop Logo &ndash;&gt;
            <a class="brand" href="/" th:href="@{/home}">e-ToolStore</a>

            &lt;!&ndash; Search block&ndash;&gt;
            <form action="#" th:action="@{/product/search}" method="post" class="navbar-form form-search pull-left">
                <input type="text" id="comment" name="searchTerm" value="Search product..." class="input-medium"/>
                <button type="submit" name="startSearch" class="btn">Search!</button>
            </form>

            &lt;!&ndash;Admin manage&ndash;&gt;
            <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin-manage <b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" th:href="@{/product/admin/manage/all/page/0}">Product manage</a></li>
                                <li><a href="#" th:href="@{/order/admin/manage/all/page/0}">Order manage</a></li>

<span sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-menu-admin">
<li><a href="#" th:href="@{/user/admin/manager}">User manage</a></li>
</span>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            &lt;!&ndash; Sign Out&ndash;&gt;
            <div sec:authorize="isAuthenticated()">
                <ul class="nav pull-right">
                    <li><a href="#" th:href="@{/logout}">SignOut</a></li>
                </ul>
            </div>

            &lt;!&ndash; Login - Register &ndash;&gt;
            <div sec:authorize="isAnonymous()">
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">SignIn<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" th:href="@{/login}">Login</a></li>
                                <li><a href="#" th:href="@{/user/register}">Register</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            &lt;!&ndash; Order &ndash;&gt;
            <ul class="nav pull-right">
                <li><a href="#" th:href="@{/order/detail}">Order</a></li>
            </ul>

        </div>
    </div>
</div>-->
