<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:fragment="head">
    <meta charset="UTF-8">

    <title th:text="#{title.application}">_Store_test_title_</title>


    <!-- JS-->
    <script src="../../resources/js/jquery-3.1.1.min.js"
            th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
    <script src="../../resources/component/bootstrap/js/bootstrap.js"
            th:src="@{/resources/component/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Custom CSS styles-->
    <link rel="stylesheet" href="../../resources/css/style.css"  th:href="@{/css/style.css}" />

    <!-- Bootstrap styles-->
    <link rel="stylesheet" href="../../resources/component/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/resources/component/bootstrap/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" href="../../resources/component/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/component/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../resources/component/font-awesome/css/font-awesome.min.css"
          th:href="@{/resources/component/font-awesome/css/font-awesome.min.css}" />


    <!-- AngularJS-->
    <script src="../../resources/js/angular.js" th:src="@{/js/angular.js}"></script>
    <script src="../../resources/js/formApp.js" th:src="@{/js/formApp.js}"></script>
    <script src="../../resources/js/orderApp.js" th:src="@{/js/orderApp.js}"></script>

</head>


<body>

    <!-- HEADER FRAGMENT-->
    <div id="header" class="row col-sm-12" th:fragment="header" >
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Shop Logo -->
                    <a class="navbar-brand" href="#" th:href="@{/home}">eTool-Store</a>
                </div>

                <!-- Login - Register -->
                <div  sec:authorize="isAnonymous()">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a id="navbar-log-in" href="#"  class="dropdown-toggle" data-toggle="dropdown">SignIn<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" th:href="@{/login}">Login</a></li>
                                <li><a href="#" th:href="@{/user/register}">Register</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>


                <!-- Sign Out -->
                <div id="log-out" sec:authorize="isAuthenticated()">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" th:href="@{/logout}">SignOut</a></li>
                    </ul>
                </div>


                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li><a href="#">_Reserv_</a></li>-->
                        <!-- Order -->
                        <li><a href="#" th:href="@{/order/detail}">Order</a></li>

                        <!--Admin manage-->
                        <li class="dropdown" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Admin-manage<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" th:href="@{/product/admin/manage/all/page/0}">Product manage</a></li>
                                <li><a href="#" th:href="@{/order/admin/manage/all/page/0}">Order manage</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a sec:authorize="hasRole('ROLE_ADMIN')"  href="#" th:href="@{/user/admin/manager}">User manage</a></li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Search block-->
                    <form action="#" th:action="@{/product/search}" method="post" class="navbar-form navbar-left">
                        <input type="text" id="comment" name="searchTerm" value="Search product..." class="form-control"/>
                        <button type="submit" name="startSearch" class="btn"> Search!</button>
                    </form>

                </div>

            </div>
        </nav>
    </div>


    <!-- SIDEBAR FRAGMENT
    http://bootsnipp.com/snippets/featured/sidebar-navigation-with-scrollspy
    -->
    <div class="col-sm-1" th:fragment="sidebar">
        <div id="sidebar-wrapper">
            <nav id="spy">
                <ul class="sidebar-nav nav">
                    <li class="sidebar-brand">
                        <a href="#" th:href="@{/product/all/page/0}"><span class="fa fa-home solo">~ ALL ~</span></a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/product/hand_tool/page/0}" data-scroll>
                            <span class="fa fa-anchor solo">Hand Tool</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/product/electric/page/0}" data-scroll>
                            <span class="fa fa-anchor solo">Electric </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/product/hydraulic/page/0}" data-scroll>
                            <span class="fa fa-anchor solo">Hydraulic </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/product/pneumatic/page/0}" data-scroll>
                            <span class="fa fa-anchor solo">Pneumatic </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>




    <!--<div id="main-content" class="row col-sm-10">-->
        <!--<div>-->
            <!--#main-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad-->
            <!--asperiores ea esse harum laboriosam magni molestiae, nam nemo perfe rendis-->
            <!--quae quam recusandae repellat saepe vero. Accusantium libero pariatur suscipit?-->
        <!--</div>-->
    <!--</div>-->


    <!-- THUMBNAILS example
    http://bootsnipp.com/snippets/featured/thumbnail-with-caption-amp-buttons
    -->
    <div id="main-content" class="row col-sm-10">

        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="../../../WEB-INF/resources/images/fein_kbh.jpg" alt="">
                <div class="caption">
                    <h3>Fein</h3>
                    <h4>Name</h4>
                    <p class="thumbnail-price">90.99 $</p>
                    <p class="thumbnail-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat.
                        Consectetur, culpa itaque odio similique suscipit
                    </p>

                    <p class="thumbnail-buttons">
                        <a href="#" id="btn-add-to-basket" class="btn btn-info btn-sm" role="button">Add to basket!</a>
                        <a href="#" id="btn-detail" class="btn btn-default btn-sm" role="button">Detail...</a>
                    </p>
                </div>
            </div>
        </div>



        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="../../../WEB-INF/resources/images/kjelberg.jpg" alt="">
                <div class="caption">
                    <h3>Kjelberg</h3>
                    <h4>Name</h4>
                    <p class="thumbnail-price">90.99 $</p>
                    <p class="thumbnail-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>

                    <p class="thumbnail-buttons">
                        <a href="#" id="btn-add-to-basket" class="btn btn-info btn-sm btn-add-to-basket" role="button">Add to basket!</a>
                        <a href="#" id="btn-detail" class="btn btn-default btn-sm" role="button">Detail...</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="../../../WEB-INF/resources/images/merkle.jpg" alt="">
                <div class="caption">
                    <h3>Merkle</h3>
                    <h4>Name</h4>
                    <p class="thumbnail-price">90.99 $</p>
                    <p class="thumbnail-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>

                    <p class="thumbnail-buttons">
                        <a href="#" id="btn-add-to-basket" class="btn btn-info btn-sm" role="button">Add to basket!</a>
                        <a href="#" id="btn-detail" class="btn btn-default btn-sm" role="button">Detail...</a>
                    </p>

                </div>
            </div>
        </div>


<!--
        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/500x300" alt="">
                <div class="caption">
                    <h4>Thumbnail label</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                    <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
                </div>
            </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/500x300" alt="">
                <div class="caption">
                    <h4>Thumbnail label</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                    <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
                </div>
            </div>
        </div>


        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/500x300" alt="">
                <div class="caption">
                    <h4>Thumbnail label</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                    <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
                </div>
            </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/500x300" alt="">
                <div class="caption">
                    <h4>Thumbnail label</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                    <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
                </div>
            </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/500x300" alt="">
                <div class="caption">
                    <h4>Thumbnail label</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                    <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
                </div>
            </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/500x300" alt="">
                <div class="caption">
                    <h4>Thumbnail label</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                    <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
                </div>
            </div>
        </div>-->



    </div><!-- End row -->



















    <!-- FOOTER FRAGMENT-->
    <footer class="footer" th:fragment="footer">
        <div class="container col-md-5 col-md-offset-7">
            <p class="text-muted ">Created: 2017, Ukraine, obeletc.sergey@gmail.com</p>
        </div>
    </footer>


</body>
</html>









<!--
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            &lt;!&ndash; Shop Logo &ndash;&gt;
            <a class="brand" href="/" th:href="@{/home}">e-ToolStore</a>

            &lt;!&ndash; Search block&ndash;&gt;
            <form action="#" th:action="@{/product/search}" method="post" class="navbar-form form-search pull-left">
                <input type="text" id="comment" name="searchTerm" value="Search product..." class="input-medium"/>
                <button type="submit" name="startSearch" class="btn">Search!</button>
            </form>

            &lt;!&ndash;Admin manage&ndash;&gt;
            <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin-manage <b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" th:href="@{/product/admin/manage/all/page/0}">Product manage</a></li>
                                <li><a href="#" th:href="@{/order/admin/manage/all/page/0}">Order manage</a></li>

<span sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-menu-admin">
<li><a href="#" th:href="@{/user/admin/manager}">User manage</a></li>
</span>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            &lt;!&ndash; Sign Out&ndash;&gt;
            <div sec:authorize="isAuthenticated()">
                <ul class="nav pull-right">
                    <li><a href="#" th:href="@{/logout}">SignOut</a></li>
                </ul>
            </div>

            &lt;!&ndash; Login - Register &ndash;&gt;
            <div sec:authorize="isAnonymous()">
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">SignIn<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" th:href="@{/login}">Login</a></li>
                                <li><a href="#" th:href="@{/user/register}">Register</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            &lt;!&ndash; Order &ndash;&gt;
            <ul class="nav pull-right">
                <li><a href="#" th:href="@{/order/detail}">Order</a></li>
            </ul>

        </div>
    </div>
</div>-->
