<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" media="all" href="../../resources/css/main.css" th:href="@{/css/main.css}"/>

</head>
<body>


<div th:fragment="tablecontroller" class="table-controller">
    <table border="2">
        <tbody>
        <tr style="background-color: darkturquoise">
            <div sec:authorize="isAuthenticated()">
                <th>Logout</th>
            </div>

            <th>Home</th>
            <th>Product</th>
            <th>ProductCAT</th>
            <th>Register</th>
            <th>Login</th>
            <th>UserManager</th>
            <th>reserv</th>
        </tr>
        <tr>
            <div sec:authorize="isAuthenticated()">
                <td><a href="#" th:href="@{/logout}">Logout</a></td>
            </div>

            <td><a href="#" th:href="@{/home}">Home</a></td>
            <td><a href="#" th:href="@{/product/create}">ProductDAO</a></td>
            <td><a href="#" th:href="@{/product/sort/hand_tool}">ProductCAT</a></td>
            <td><a href="#" th:href="@{/user/register}">Register</a></td>
            <td><a href="#" th:href="@{/login}">Login</a></td>
            <td><a href="#" th:href="@{/user/admin/manager}">UserManager</a></td>
            <td>reserv</td>
        </tr>
        </tbody>
    </table>
    <br/>



</div>

</body>
</html>


<!--
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <p class="msg-controller"> Your role is ROLE_ADMIN</p>
    <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
</div>

<div sec:authorize="hasRole('ROLE_CUSTOMER')">
    <p class="msg-controller"> Your role is ROLE_CUSTOMER</p>
    <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
</div>

<div sec:authorize="isAuthenticated()">
    <p class="msg-controller"> Visible for Authenticated user || Текст на русском из страницы </p><br/>
    Roles: <span sec:authentication="principal.authorities">_temp_roles_</span> |
    <p th:text="#{test.cyrillic.text}">_темп_текст_</p>
    <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
</div>
-->
