<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" media="all" href="../../resources/css/main.css" th:href="@{/css/main.css}"/>

</head>
<body>



<div th:fragment="tablecontroller" class="table-controller">
    <table border="2">
        <tbody>
        <tr style="background-color: darkturquoise">
            <div sec:authorize="isAuthenticated()">
                <th>Logout</th>
            </div>

            <th>Home</th>
            <th>Index</th>
            <th>Product-DAO</th>
            <th>Register</th>
            <th>Login</th>
            <th>UserMgr(Admin)</th>
            <th>ALL-Products</th>
            <th>Order</th>
            <th>OrderMgr(Admin)</th>
            <th>ProductMgr(Admin)</th>
            <!--<th>Search</th>-->
        </tr>

        <tr>
            <div sec:authorize="isAuthenticated()">
                <td><a href="#" th:href="@{/logout}">Logout</a></td>
            </div>

            <td><a href="#" th:href="@{/home}">Home</a></td>
            <td><a href="#" th:href="@{/index}">Index</a></td>
            <td><a href="#" th:href="@{/product/manage/create}">ProductDAO</a></td>

            <td><a href="#" th:href="@{/user/register}">Register</a></td>
            <td><a href="#" th:href="@{/login}">Login</a></td>

            <td><a href="#" th:href="@{/product/all/page/0}">AllProducts</a></td>
            <td><a href="#" th:href="@{/order/detail}">ORDER</a></td>

            <td><a href="#" th:href="@{/user/admin/manager}">UserManager</a></td>
            <td><a href="#" th:href="@{/order/admin/manage/all/page/0}">Manage-Order</a></td>
            <td><a href="#" th:href="@{/product/admin/manage/all/page/0}">Manage-Product</a></td>

            <!--<td><a href="#" th:href="@{/product/search}">SEARCH!!!</a></td>-->
        </tr>
        </tbody>
    </table>
    <br/>
</div>


<div th:fragment="searchform" class="search-form">
    <form action="#" th:action="@{/product/search}" method="post">
        <input type="text" id="comment" name="searchTerm" value="Search product..." />
        <button type="submit"  name="startSearch" class="btn-link">Search! </button>
    </form>
    <br/>
</div>







<div th:fragment="productmenu" class="product-menu">
<table border="2">
    <tbody>
    <tr th:each="category : ${allProductCategory}" style="background-color: greenyellow">
        <td>
            <a href="#" th:href="@{/product/{category}/page/0 (category=${category})}"
               th:text="#{${'product.category.' + category}}">_test_Show!</a>
        </td>
    </tr>
    <tr style="background-color: lime">
        <td>
            <a href="#" th:href="@{/product/all/page/0}">Show All!</a>
        </td>
    </tr>
    </tbody>
</table>
<br/>
</div>














<!-- ========Table example==========  -->

<table border="1">
    <tr style="color: cornflowerblue">
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th colspan="2">Telephone</th>
    </tr>
    <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
    </tr>

</table>




</body>
</html>


<!--
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <p class="msg-controller"> Your role is ROLE_ADMIN</p>
    <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
</div>

<div sec:authorize="hasRole('ROLE_CUSTOMER')">
    <p class="msg-controller"> Your role is ROLE_CUSTOMER</p>
    <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
</div>

<div sec:authorize="isAuthenticated()">
    <p class="msg-controller"> Visible for Authenticated user || Текст на русском из страницы </p><br/>
    Roles: <span sec:authentication="principal.authorities">_temp_roles_</span> |
    <p th:text="#{test.cyrillic.text}">_темп_текст_</p>
    <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
</div>
-->
