html {
    position: relative;
    min-height: 100%;
}

#main-content{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 150px;
}

#log-out li a{
    color: #bd362f;
}

#navbar-log-in{
    color: #99cc33;
}

#product-content-absent{
    font-style: italic;
}




/*================ FOOTER  ======================*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 28px;
    background-color: #e0e0e0;
}

.footer p{
    font-size: 12px;
    font-style: italic;
}


/* ====================== Thumbnails ===================== */

.thumbnail {
    position: relative;
    padding: -10px;
    margin-bottom: 20px;
    max-height: 370px;
    min-height: 370px;
    overflow: hidden;
}

.thumbnail h4{
    color: #444444;
}

.thumbnail img {
    /*max-width: 100%;*/
    /*max-height: 150px;*/
    /*overflow: hidden;*/

    max-width: 300px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
    overflow: hidden;
}

.thumbnail-price{
    border: 2px;
    color: #ac2925;
}

.thumbnail-description{
    /*max-height: 40px;*/
    /*overflow: hidden;*/

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;     /* fallback */
    max-height: 40px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.thumbnail-buttons{
    position:absolute;
    bottom: 0px;
    right: 12px;
    text-align: right;
}

#btn-add-to-basket{
    background-color: #245269;
    border-color: #080808;
}

#btn-add-to-basket-lock{
    background-color: #999999;
    border-color: #080808;
}

#btn-detail{
    background-color: #eeeceb;
    border-color: #999999;
}


/*---------------------- Thumbnails Label ---------------------------------*/

.label-image #action {
    font-size: 30px;
    color: #269abc;
    position: absolute;
    top: -12px;
    right: 3px;
    padding: 4px;
    /*opacity: .55;*/
}

#label-image-text{
    /*right: -2px;*/
    font-size: 12px;
}

.flash{
    top: 6px;
    right: 13px;
    color: #b92c28;
    font-size: 26px;

}


/*
.labelimage #label-icon:hover{
    font-size: 36px;
    color: red;
    opacity: 1;
}*/


/* -------------------Buttons sort -------------------------*/

#sort-button-block{
    text-align: right;
    margin-bottom: 50px;
}


#button-blue-active{
    background-color: #155567;
    border-color: #080808;
    text-shadow: none;
    color: #eeeeee;
}

#button-blue{
    background-color: #269abc;
    border-color: #080808;
    text-shadow: none;
    color: #eeeeee;
}

#button-blue-light{
    background-color: #68c5e0;
    border-color: #080808;
    text-shadow: none;
    color: #eeeeee;
}

#button-red{
    background-color: #b92c28;
    border-color: #080808;
    text-shadow: none;
    color: #eeeeee;
}

#button-orange{
    background-color: #f0631f;
    border-color: #080808;
    text-shadow: none;
    color: #eeeeee;
}

#button-yellow{
    background-color: #e5991c;
    border-color: #080808;
    text-shadow: none;
    color: #eeeeee;
}

#button-grey{
    background-color: #7b8852;
    border-color: #080808;
    text-shadow: none;
    color: #eeeeee;
}

#button-grey-light{
    background-color: #9d9d9d;
    border-color: #080808;
    text-shadow: none;
    color: #eeeeee;
}

#button-green{
    background-color: #36ad1e;
    border-color: #080808;
    text-shadow: none;
    color: #eeeeee;
}

#button-green-lite{
    background-color: #99cc33;
    border-color: #080808;
    text-shadow: none;
    color: #eeeeee;
}


/* -------------- Table for Admin manager-------------------*/

.compact-font{
    font-size: 12px;
    border-color: #555555;
}

.filled-head th{
    /*background-color: #b2dba1;*/
    background-color: #9da695;
    font-size: 14px;
}

.filled-head td{
    border: #737373 solid 1px !important;
}

.filled-head th{
    border: #737373 solid 1px !important;
}

#aligned td{
    vertical-align: middle;
    align-content: center;
}



/* ------------- Pagination ------------------------------*/

.pagination .disabled{
    pointer-events: none;
}

#pagination-products{
    position:absolute;
    bottom: 10px;
    left: 150px;
    margin-top: 40px;
    text-align: center;
}

/*===================== Product Detail ====================== */
.product-detail{
    /*border: #d4d4d4 solid 1px;*/
    /*border-radius: 3%;*/
}

.product-detail img{
    padding-top: 66px;
    width: 100%;
}

.product-detail h2{
    color: #204d74;
    font-size: 30px;
    font-family: Arial;

}

.price-block{
    /*text-align: center;*/
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-bottom: 20px;
}

.price-block h3{
    color: #843534;
    font-family: Consolas;
}

.price-block a {
    margin-top: 14px;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#price-title{
    font-style: normal;
    font-family: Consolas;
    color: #9d9d9d;
    font-size: 18px;
    margin-bottom: -4px;
}

.product-description{
    color: #737373;
    font-family: Arial;
    text-align: start;
    vertical-align: middle;
    line-height: 24px;
    border-radius: 5px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.05);
}

.product-characterictic ul{
    padding: 6px;
    margin-left: 30px;
    margin-top: -12px;
}

.product-characterictic li{
    padding-left: 10px;
    margin: -10px 0 4px -10px;
}

/*.product-characterictic li span{*/
    /*padding-left: 10px;*/
    /*margin: -10px 0 4px 0;*/
/*}*/


/*===================== Order Detail ====================== */

.order-detail h2{
    color: #204d74;
}

.order-brief-info{
    border: 1px solid rgba(150,  100, 90, 0.1);
    border-radius: 10px;
}

.order-brief-info p{
    padding-top: 10px;
    padding-left: 20px;
}

.order-detail h4{
    color: #2e6da4;
    text-align: center;
    font-family: Consolas;
}

.order-detail img{
    max-width: 40px;
    max-height: 40px;
}


















/* ====================== Sidebar ===================== */

#sidebar-wrapper {
    margin-top: 40px;
    margin-left: -250px;
    left: 250px;
    width: 150px;
    background: #222222;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    line-height: 30px;
    text-indent: 20px;
}

.sidebar-nav li a {
    font-size: 18px;
    color: #d4d4d4;
    display: block;
    text-decoration: none;
    padding-left: 20px;
}

.sidebar-nav li a span:before {
    position: absolute;
    left: 0;
    color: #41484c;
    text-align: center;
    width: 20px;
    line-height: 18px;

}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
    color: #ac2925;
    /*background: rgba(255,165,0,0.8);*/
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 50px;
    line-height: 40px;
    font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
    font-style: italic;
}

.sidebar-nav > .sidebar-brand a:hover {
    font-size: 20px;
    color: #ac2925;
    background: none;
}

/* ====================== (END) ===================== */