<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template/fragments :: head">
    <meta charset="UTF-8">
    <title th:text="#{title.application}">eToolStore</title>

    <!-- JS-->
    <script src="../resources/js/jquery-3.1.1.min.js"
            th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
    <script src="../resources/component/bootstrap/js/bootstrap.js"
            th:src="@{/resources/component/bootstrap/js/bootstrap.min.js}"></script>


    <link rel="stylesheet" href="../resources/component/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/resources/component/bootstrap/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" href="../resources/component/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/component/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../resources/component/font-awesome/css/font-awesome.min.css"
          th:href="@{/resources/component/font-awesome/css/font-awesome.min.css}" />
    <link rel="stylesheet" href="../resources/css/style.css"
          th:href="@{/css/style.css}" />

</head>
<body>


    <div th:replace="template/fragments :: header" class="header"><p>_test_header_</p></div>


    <div th:replace="template/fragments :: sidebar" class="col-sm-1" >
        <div id="sidebar-wrapper">
            <nav id="spy">
                <ul class="sidebar-nav nav">
                    <li class="sidebar-brand">
                        <a href="#home"><span class="fa fa-home solo">All</span></a>
                    </li>
                    <li>
                        <a href="#anch1" data-scroll>
                            <span class="fa fa-anchor solo">Hand Tool</span>
                        </a>
                    </li>
                    <li>
                        <a href="#anch2" data-scroll>
                            <span class="fa fa-anchor solo">Electric </span>
                        </a>
                    </li>
                    <li>
                        <a href="#anch3" data-scroll>
                            <span class="fa fa-anchor solo">Hydraulic </span>
                        </a>
                    </li>
                    <li>
                        <a href="#anch4" data-scroll>
                            <span class="fa fa-anchor solo">Pneumatic </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <div id="main-content" class="row col-sm-10">



        <h1 th:text="#{title.headline}" id="home-headline">eTool-Store - the shop of all kinds of tools</h1>

        <p id="home-description">
            This project is my result of consolidating in practice the study of some popular Java EE frameworks.
            <br/>
            <strong>Back-end:</strong>
            <br/>
            Spring Web-MVC, Spring Security (integrated with Thymeleaf Security and Spring DATA JPA),
            Maven, Apache commons (photo upload), Javax Mail,  Log4j (integrated with GSON).
            <br/>

            <strong>Database layer:</strong>
            <br/>
            PostgreSQL, Spring DATA JPA;
            <br/>

            <strong>Front-end:</strong>
            <br/>
            CSS, Bootstrap,  FontAwesome icons,  Photoshop.
            HTML pages with Thymeleaf and Thymeleaf Security tags.
            AngularJS (for validation user’s input and for invoke REST methods from Spring-MVC controller);
        <hr/>

        <strong>The brief description of the "eToolStore" project:</strong>
        <br/>
        Internet shop has users with different roles and possibilities: customers and managerial personal
        (users and administrator).
        Customers can register, sign in, operate with products items in their current cart, communicate with
        managerial personal via email.
        Users and Administrator can operate with Products (CRUD, change status), Orders (Edit, Delete, Change current status),
        and only Administrator have permission to deal with Users (Lock, Unlock, Delete).
        Also exist a possibility to search and sorting products of some parameters during the browsing.
        <br/>
        </p>
        <hr/>


        <h3 id="home-product-category">Chose category of products</h3>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail short" th:href="@{/product/electric/page/0}">
                    <img src="../resources/images/electric.jpg" th:src="@{/pic/electric.jpg}" alt="...">
                    <span id="thmb-title">ELECTRIC</span>
                </a>
            </div>

            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail short" th:href="@{/product/hand_tool/page/0}">
                    <img src="../resources/images/hand.png" th:src="@{/pic/hand.png}" alt="...">
                    <span id="thmb-title">HAND TOOL</span>
                </a>
            </div>

            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail short" th:href="@{/product/hydraulic/page/0}">
                    <img src="../resources/images/hydraulic.jpg" th:src="@{/pic/hydraulic.jpg}" alt="...">
                    <span id="thmb-title">HYDRAULIC</span>

                </a>
            </div>

            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail short" th:href="@{/product/pneumatic/page/0}">
                    <img src="../resources/images/pneumatic.jpg" th:src="@{/pic/pneumatic.jpg}" alt="...">
                    <span id="thmb-title">PNEUMATIC</span>

                </a>
            </div>
        </div>



    </div>


    <div th:replace="template/fragments :: footer" class="header"><p>_test_footer_</p></div>



</body>
</html>

