<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="template/fragments :: head">
    <meta charset="UTF-8">
    <title th:text="#{title.application}">_test_title_</title>
    <link rel="stylesheet" type="text/css" media="all" href="../resources/css/main.css" th:href="@{/css/main.css}" />
</head>

<body>

<div th:replace="template/fragments :: header" class="header"><p>_test_header_</p></div>


<div class="content">

    <div>
        <img src="../resources/images/roles.jpg" alt="STSM logo" title="STSM logo"
             th:src="@{/pic/roles.jpg}" th:alt-title="#{title.application}"/>
    </div>

    <h2>Log in</h2>

<p th:if="${loginError}" class="errorlist" th:text="${loginError}">_temp_Wrong_e-mail_or_password!_ </p>
<br/>
<form th:action="@{/login}" method="post">
    <label for="username">Email </label>:
    <input type="text" id="username" name="username" autofocus="autofocus"/> <br />
    <label for="password">Password </label>:
    <input type="password" id="password" name="password" /> <br />
    <input type="submit" value="Login" />
</form>


<p><a href="#" th:href="@{/home}">Back to home </a></p>
<p><a href="#" th:href="@{/user/register}">Register</a></p>

    </div>


<div th:replace="template/fragments :: footer" class="header"><p>_test_footer_</p></div>

</body>
</html>