<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template/header :: head">
    <meta charset="UTF-8">
    <title th:text="#{title.application}">_test_title_</title>
    <link rel="stylesheet" type="text/css" media="all" href="../resources/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
<div th:replace="template/header :: header" class="header"><p>_test_header_</p></div>


<div class="main-content">
    <h2> ORDER Confirmed! </h2>

    <h2> ---You ORDER confirmed. We will call you! :)--- </h2>
    <br>
    <a href="#" th:href="@{/order/detail}" class="button-delete"> << Back to Order page !</a>

    <p>__________________________________</p>

</div>
<div th:replace="template/footer :: footer" class="footer"><p>_test_footer</p></div>
</body>
</html>