<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template/fragments :: head">
    <meta charset="UTF-8">
    <title th:text="#{title.application}">_Store_test_title_</title>

</head>
<body>

<div th:replace="template/fragments :: header"><p>_test_header_</p></div>

<div th:replace="template/fragments :: sidebar" class="col-sm-1" >
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand">
                    <a href="#home"><span class="fa fa-home solo">All</span></a>
                </li>
                <li>
                    <a href="#anch1" data-scroll>
                        <span class="fa fa-anchor solo">Hand Tool</span>
                    </a>
                </li>
                <li>
                    <a href="#anch2" data-scroll>
                        <span class="fa fa-anchor solo">Electric </span>
                    </a>
                </li>
                <li>
                    <a href="#anch3" data-scroll>
                        <span class="fa fa-anchor solo">Hydraulic </span>
                    </a>
                </li>
                <li>
                    <a href="#anch4" data-scroll>
                        <span class="fa fa-anchor solo">Pneumatic </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div id="main-content" class="row col-sm-10">

    <!-- Order Detail -->
    <div class="row col-md-8 col-sm-offset-1 order-detail">

        <h2>Order items</h2>
        <hr/>

        <div class="order-brief-info">
            <p>
                <strong>Shipping Address:</strong>
                <span th:text="${activeOrder.address.country} + ', ' + ${activeOrder.address.city} + ', '
                                + ${activeOrder.address.street} + ', ' + ${activeOrder.address.apartment}">Ukraine, Kiev, Shevchenka 88</span>
            </p>
            <p>
                <strong >Total items:</strong> <span th:text="${#lists.size(activeOrder.lineItems)}"
                                                     style="color: #843534; font-weight: bold" >66</span>
            </p>
        </div>


        <div th:if="${#lists.isEmpty(activeOrder.lineItems)} ">
            <h4>You order is Empty!</h4>
        </div>



        <th:block th:if="${#lists.size(activeOrder.lineItems) > 0}">

        <h4>List of items in current order</h4>

        <table class="table table-bordered compact-font filled-head" id="aligned">
            <tr style="background-color: cornflowerblue">
                <th>Photo</th>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Delete</th>
            </tr>
            <tr th:each="item : ${activeOrder.lineItems}">
                <td>
                    <img src="#" alt="STSM logo" title="STSM logo" th:src="@{/photo/} + ${item.product.id}" />
                </td>
                <td th:text="${item.product.name}">Drill</td>
                <td th:text="${item.product.manufacturer}">DUSS</td>
                <td th:text="#{|product.category.${item.product.category}|}">ELECTRO</td>
                <td th:text="${item.amount}">amount</td>
                <td th:text="'$ ' + ${item.product.price}">$ 50</td>
                <td><a href="#" th:href="@{/order/item/delete/{itemId} (itemId=${item.id}) }"
                       id="button-orange" class="btn btn-default btn-xs" >
                    <i class="fa fa-times" aria-hidden="true"></i> Remove</a>
                </td>

            </tr>
            <tr >
                <td colspan="4"><strong>Total Amount and Sum of Order:</strong></td>
                <td>
                    <span th:text="${activeOrder.getItemsAmount()}" style="color: darkgreen; font-size: 14px;">4</span>
                </td>
                <td>
                    <span th:text="${activeOrder.getSumOfItems()}" style="color: brown; font-size: 14px" >66</span>
                </td>
                <td>
                    <a href="#" th:href="@{/order/clear/{orderId} (orderId=${activeOrder.id})}"
                       id="button-red" class="btn btn-default btn-xs">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Clear Order</a>
                </td>
            </tr>
        </table>

        <hr/>

        <div class="row col-sm-offset-10">
            <a href="#" th:href="@{/order/confirm/address}" id="button-green" class="btn btn-default btn-sm" >
                Confirm Order <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
        </div>

        </th:block>

    </div>
    <!-- END Order Detail -->


</div>
<!--END main Content-->

<div th:replace="template/fragments :: footer" class="header"><p>_test_footer_</p></div>
</body>
</html>







