<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template/fragments :: head">
    <meta charset="UTF-8">
    <title th:text="#{title.application}">_Store_test_title_</title>

    <!-- JS-->
    <script src="../resources/js/jquery-3.1.1.min.js"
            th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
    <script src="../resources/component/bootstrap/js/bootstrap.js"
            th:src="@{/resources/component/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Custom CSS styles-->
    <link rel="stylesheet" href="../resources/css/style.css"  th:href="@{/css/style.css}" />

    <!-- Bootstrap styles-->
    <link rel="stylesheet" href="../resources/component/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/resources/component/bootstrap/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" href="../resources/component/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/component/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../resources/component/font-awesome/css/font-awesome.min.css"
          th:href="@{/resources/component/font-awesome/css/font-awesome.min.css}" />

    <!-- AngularJS-->
    <script src="../resources/js/angular.js" th:src="@{/js/angular.js}"></script>
    <script src="../resources/js/formApp.js" th:src="@{/js/formApp.js}"></script>
    <script src="../resources/js/orderApp.js" th:src="@{/js/orderApp.js}"></script>
</head>
<body>

<div th:replace="template/fragments :: header">
    <p>_test_header_</p>
</div>

<div th:replace="template/fragments :: sidebar" class="col-sm-1" >
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand">
                    <a href="#home"><span class="fa fa-home solo">All</span></a>
                </li>
                <li>
                    <a href="#anch1" data-scroll>
                        <span class="fa fa-anchor solo">Hand Tool</span>
                    </a>
                </li>
                <li>
                    <a href="#anch2" data-scroll>
                        <span class="fa fa-anchor solo">Electric </span>
                    </a>
                </li>
                <li>
                    <a href="#anch3" data-scroll>
                        <span class="fa fa-anchor solo">Hydraulic </span>
                    </a>
                </li>
                <li>
                    <a href="#anch4" data-scroll>
                        <span class="fa fa-anchor solo">Pneumatic </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div id="main-content" class="row col-sm-10">

    <!-- Order Confirm Address-->
    <div class="row col-md-8 col-sm-offset-1 order-detail">

        <h2> Address for delivery: </h2>

        <hr/>


        <form action="#" th:action="@{/order/confirm/address}" th:object="${address}" method="post">
            <fieldset>
                <input type="hidden" th:field="*{id}" />


                <div class="form-group">
                    <label for="country">
                        <span th:text="#{user.country}">Country: </span>
                    </label>
                    <input type="text" th:field="*{country}" id="country"  th:value="*{country}" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="state">
                        <span th:text="#{user.state}">State: </span>
                    </label>
                    <input type="text" th:field="*{state}" id="state" th:value="*{state}" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="city">
                        <span th:text="#{user.city}">City: </span>
                    </label>
                    <input type="text" th:field="*{city}" id="city" th:value="*{city}" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="street">
                        <span th:text="#{user.street}">Street: </span>
                    </label>
                    <input type="text" th:field="*{street}" id="street" th:value="*{street}" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="apartment">
                        <span th:text="#{user.apartment}">Apartment:</span>
                    </label>
                    <input type="text" th:field="*{apartment}" id="apartment" th:value="*{apartment}" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="zipCode">
                        <span th:text="#{user.zipCode}">ZIP Code: </span>
                    </label>
                    <input type="text" th:field="*{zipCode}" id="zipCode" th:value="*{zipCode}" class="form-control"/>
                </div>

                <div class="submit">
                    <button type="submit" name="save" class="btn btn-sm btn-primary" >
                        <i class="fa fa-edit" aria-hidden="true"></i>
                        Change Address!</button>
                </div>


            </fieldset>
        </form>
        <!--</div>-->
        <hr/>


        <div class="row">
            <div class="col-md-4">
                <a href="#" th:href="@{/order/detail}" id="button-green"  class="btn btn-default btn-sm" >
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Back (to Order detail)
                </a>
            </div>

            <div class="col-md-2 col-md-offset-6">
                <a href="#" th:href="@{/order/confirm/comment}" id="button-green"  class="btn btn-default btn-sm" >
                    Next Step
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>


    </div>
    <!--END Order Confirm Address-->


</div>
<!--END main Content-->

<div th:replace="template/fragments :: footer" class="header"><p>_test_footer_</p></div>
</body>
</html>


