<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template/header :: head">
    <meta charset="UTF-8">
    <title th:text="#{title.application}">_test_title_</title>
    <link rel="stylesheet" type="text/css" media="all" href="../resources/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="template/header :: header" class="header"><p>_test_header_</p></div>

<div class="main-content"  >

    <!-- ************************************** Site menu  ****************************************** -->

    <div th:replace="template/menu :: tablecontroller" class="table-controller" >
    </div>


    <h1>Order manager:</h1>
    <br/>
    <strong>Total elements: </strong>    <span th:text="${ordersPage.totalElements}">_test_</span><br/>

    <strong>Order Status: </strong>    <span th:text="${orderStatus}">_test_</span><br/>

    <p>-----------------------------------------</p>

    <a href="#" th:href="@{/order/admin/manage/all/page/0}" class="button-buy-active"> ALL</a>
    <a href="#" th:href="@{/order/admin/manage/completed/page/0}" class="button-buy-active"> COMPLETED</a>
    <a href="#" th:href="@{/order/admin/manage/confirmed/page/0}" class="button-buy-active"> CONFIRMED</a>
    <a href="#" th:href="@{/order/admin/manage/active/page/0}" class="button-buy-active"> ACTIVE</a>
    <br/>
    <br/>

    <table border="1">
        <thead>
        <tr style="background-color: #99cc33">
            <th>ID</th>
            <th>e-mail</th>
            <th>status</th>
            <th style="background-color: brown">Decline</th>
            <th style="background-color: crimson">Canceled</th>
            <th>items</th>
            <th>SUM</th>
            <th>Address</th>

            <th style="background-color: mediumseagreen">Processed</th>
            <th style="background-color: green">Shipped</th>
            <th style="background-color: cornflowerblue">Completed</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="o : ${ordersPage.content}">

            <td >
                <a href="#"
                   th:href="@{/order/detail/{id} (id=${o.id})}"
                   class="button-blue"> <span th:text="${{o.id}}">_id_link_</span></a>
            </td>

            <td th:text="${{o.user.email}}">user_email</td>
            <td th:text="${{o.orderStatus}}">status_order</td>

            <td>

                <a href="#"
                   th:href="@{/order/admin/manage/{orderStatus}/page/{pageNumber}/declined/{id}
                   (id=${o.id}, orderStatus=${orderStatus}, pageNumber=${ordersPage.number})}"
                   class="button-delete">Decline!</a>
            </td>

            <td>
                <a href="#"
                   th:href="@{/order/admin/manage/{orderStatus}/page/{pageNumber}/canceled/{id}
                   (id=${o.id}, orderStatus=${orderStatus}, pageNumber=${ordersPage.number})}"
                   class="button-lock">Cancel!</a>
            </td>

            <td th:text="${{o.getItemsAmount()}}">amount</td>
            <td th:text="${{o.getSumOfItems()}}">sum</td>
            <td >
                <span th:text="${{o.address.country}}"></span>,
                <span th:text="${{o.address.city}}"></span>,
                <span th:text="${{o.address.street}} "></span>
                <span th:text="${{o.address.apartment}}"></span>
            </td>

            <td>
                <a href="#"
                   th:href="@{/order/admin/manage/{orderStatus}/page/{pageNumber}/processed/{id}
                   (id=${o.id}, orderStatus=${orderStatus}, pageNumber=${ordersPage.number})}"
                   class="button-buy-active">Processed</a>
            </td>
            <td>
                <a href="#"
                   th:href="@{/order/admin/manage/{orderStatus}/page/{pageNumber}/shipped/{id}
                   (id=${o.id}, orderStatus=${orderStatus}, pageNumber=${ordersPage.number})}"
                   class="button-buy-active">Shipped</a>
            </td>
            <td>
                <a href="#"
                   th:href="@{/order/admin/manage/{orderStatus}/page/{pageNumber}/completed/{id}
                   (id=${o.id}, orderStatus=${orderStatus}, pageNumber=${ordersPage.number})}"
                   class="button-blue">Completed!</a>
            </td>
        </tr>
        </tbody>
    </table>





    <div class="page-list-container">
        <!-- Previous + First arrows -->
    <span>
        <span th:if="${ordersPage.isFirst() == false}">
            <a href="#" th:href="@{/order/admin/manage/{orderStatus}/page/{pageNumber} (pageNumber=0, orderStatus=${orderStatus})}"> <--First</a>
        </span>
          <span th:if="${ordersPage.isFirst()} ">
            <span class="button-disabled"> <--First</span>
        </span>
    </span>

    <span>
        <span th:if="${ordersPage.hasPrevious()}">
            <a href="#" th:href="@{/order/admin/manage/{orderStatus}/page/{pageNumber} (pageNumber=${ordersPage.number} - 1, orderStatus=${orderStatus})}"> <-Prev</a>
        </span>
         <span th:if="${ordersPage.hasPrevious() == false} ">
            <span class="button-disabled"> <-Prev</span>
         </span>
    </span>

        <!-- Numerated List of all pages-->
    <span th:with="firstPage=0, lastPage=${ordersPage.totalPages -1}, arrayOfPages=${#numbers.sequence(firstPage, lastPage)}">
        <span th:each="ap : ${arrayOfPages}">
            <span th:class="${ap eq ordersPage.number} ? 'button-active' : ''">
                <a href="#" th:href="@{/order/admin/manage/{orderStatus}/page/{pageNumber} (pageNumber=${ap}, orderStatus=${orderStatus})}">
                    <span th:text="${ap}+1 + ', '"></span>
                </a>
            </span>
        </span>
    </span>

        <!-- Next + Last arrows -->
    <span >
        <span th:if="${ordersPage.hasNext()}">
            <a href="#" th:href="@{/order/admin/manage/{orderStatus}/page/{pageNumber} (pageNumber=${ordersPage.number} + 1, orderStatus=${orderStatus})}"> Next-></a>
        </span>
        <span th:if="${ordersPage.hasNext() == false} ">
            <span class="button-disabled"> Next-></span>
        </span>
    </span>

    <span >
        <span th:if="${ordersPage.isLast() == false}">
            <a href="#" th:href="@{/order/admin/manage/{orderStatus}/page/{pageNumber} (pageNumber=${ordersPage.totalPages} -1, orderStatus=${orderStatus}) }">  Last-->>  </a>
        </span>
         <span th:if="${ordersPage.isLast()} ">
            <span class="button-disabled"> Last-->></span>
        </span>
    </span>
    </div>



</div>
</body>
</html>