<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template/fragments :: head">
    <meta charset="UTF-8">
    <title th:text="#{title.application}">_Store_test_title_</title>

    <!-- JS-->
    <script src="../resources/js/jquery-3.1.1.min.js"
            th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
    <script src="../resources/component/bootstrap/js/bootstrap.js"
            th:src="@{/resources/component/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Custom CSS styles-->
    <link rel="stylesheet" href="../resources/css/style.css"  th:href="@{/css/style.css}" />

    <!-- Bootstrap styles-->
    <link rel="stylesheet" href="../resources/component/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/resources/component/bootstrap/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" href="../resources/component/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/component/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../resources/component/font-awesome/css/font-awesome.min.css"
          th:href="@{/resources/component/font-awesome/css/font-awesome.min.css}" />

    <!-- AngularJS-->
    <script src="../resources/js/angular.js" th:src="@{/js/angular.js}"></script>
    <script src="../resources/js/formApp.js" th:src="@{/js/formApp.js}"></script>
    <script src="../resources/js/orderApp.js" th:src="@{/js/orderApp.js}"></script>
</head>
<body>

<div th:replace="template/fragments :: header">
    <p>_test_header_</p>
</div>

<div th:replace="template/fragments :: sidebar" class="col-sm-1" >
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand">
                    <a href="#home"><span class="fa fa-home solo">All</span></a>
                </li>
                <li>
                    <a href="#anch1" data-scroll>
                        <span class="fa fa-anchor solo">Hand Tool</span>
                    </a>
                </li>
                <li>
                    <a href="#anch2" data-scroll>
                        <span class="fa fa-anchor solo">Electric </span>
                    </a>
                </li>
                <li>
                    <a href="#anch3" data-scroll>
                        <span class="fa fa-anchor solo">Hydraulic </span>
                    </a>
                </li>
                <li>
                    <a href="#anch4" data-scroll>
                        <span class="fa fa-anchor solo">Pneumatic </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div id="main-content" class="row col-sm-10">

    <!-- Order Confirm Address-->
    <div class="row col-md-8 col-sm-offset-1 order-detail">




    <p>--------------Save to Admin--------------</p>


             ---------------------------<br/>
            Personal info: <br/>
            ---------------------------<br/>
            <p>
                <strong>Name:</strong>  <span th:text="${order.user.firstName}">_test_name</span><br/>
                <strong>Last Name:</strong> <span th:text="${order.user.lastName}">_test_name</span><br/>
                <strong>Phone:</strong> <span th:text="${order.user.phone}">_test_name</span><br/>
                <br>
            </p>

            ---------------------------<br/>
            Address Confirmed:<br/>
            ---------------------------<br/>
            <br/>
            <span th:object="${order.address}" >
            <strong>Country:</strong> <span th:text="*{country}"></span> <br/>
            <strong>State:</strong> <span th:text="*{state}"></span> <br/>
            <strong>City:</strong> <span th:text="*{city}"></span> <br/>
            <strong>Street:</strong> <span th:text="*{street}"></span> <br/>
            <strong>Apartment:</strong> <span th:text="*{apartment}"></span> <br/>
            <strong>ZIP:</strong> <span th:text="*{zipCode}"></span> <br/>
            </span>
        </div>

        <div id="right">
            ---------------------------<br/>
            Item List + Price:<br/>
            ---------------------------<br/>
            <table border="1">
                <tr style="background-color: cornflowerblue">
                    <th>name</th>
                    <th>manufacturer</th>
                    <th>category</th>
                    <th>amount</th>
                    <th>price</th>
                </tr>
                <tr th:each="item : ${order.lineItems}">
                    <td th:text="${item.product.name}">Drill</td>
                    <td th:text="${item.product.manufacturer}">DUSS</td>
                    <td th:text="#{|product.category.${item.product.category}|}">ELECTRO</td>
                    <td th:text="${item.amount}">amount</td>
                    <td th:text="${item.product.price} + ' $' ">50</td>
                </tr>
                <tr >
                    <td colspan="3">Total amount and SUM of Order: </td>
                    <td>
                        <span th:text="${order.getItemsAmount()}" style="color: darkgreen; font-size: 14px" >4</span>
                    </td>
                    <td>
                        <span th:text="${order.getSumOfItems()}" style="color: brown; font-size: 14px" >66</span>
                    </td>
                </tr>
            </table>



    <p>
        Comment to Order:
    <form action="#" th:action="@{/order/confirm/comment}" method="post">
        <fieldset>
            <div>
                 <input type="text" id="comment" name="commentToOrder" value="Enter your comment..." />
            </div>

            <p>
                <a href="#" th:href="@{/order/confirm/address}" class="button-buy-active"> <-- Back to Address</a>
                <button type="submit"  name="saveComment" class="btn-link">Confirm! </button>
            </p>
        </fieldset>
    </form>

    <br/>
    <a href="#" th:href="@{/order/detail}" class="button-delete"> Back to Order page !</a>
    </p>




    <br>
    <p>------------------------------------------------</p>






    </div>
    <!--END Order Confirm Address-->


</div>
<!--END main Content-->

<div th:replace="template/fragments :: footer" class="header"><p>_test_footer_</p></div>
</body>
</html>