<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template/header :: head">
    <meta charset="UTF-8">
    <title th:text="#{title.application}">_test_title_</title>
    <link rel="stylesheet" type="text/css" media="all" href="../resources/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="template/header :: header" class="header"><p>_test_header_</p></div>

<div class="main-content"  >

    <!-- ************************************** Site menu  ****************************************** -->

    <div th:replace="template/menu :: tablecontroller" class="table-controller" >
        <table border="2">
            <tbody>
            <tr style="background-color: darkturquoise">
                <th>Test_title_1</th>
                <th>TestTitle_2</th>
                <th>reserv</th>
            </tr>
            <tr>
                <td><a href="#">_test_Link1</a></td>
                <td><a href="#">_test_Link2</a></td>
                <td>reserv</td>
            </tr>
            </tbody>
        </table>

        <br/> <br/>
    </div>

    <!--<div th:replace="template/menu :: productmenu" class="product-menu" ></div>-->

<h1>~~~~~~~~~~~~~~~~  PEGABLE  ~~~~~~~~~~~~~~</h1>

    <!--<td><a href="#" th:href="@{/product/gatall?page=0&size=3}">PAGABLE_GET!</a></td>-->


    <div th:unless="${#lists.isEmpty(productsPage)}" ng-app="orderApp">

        <h2 th:text="#{product.table.title.list}">_test_List of Products_</h2>

        <table border="1">
            <thead>
            <tr style="background-color: dodgerblue">
                <th>Pic</th>
                <th>Name</th>
                <th>description</th>
                <th>manufact</th>
                <th>price</th>
                <th>unit</th>
                <th>condition</th>
                <th>category</th>
                <th>status</th>
                <th style="background-color: blueviolet">View</th>

                <th>ADD</th>
            </tr>
            </thead>

            <tbody ng-controller="orderCtrl">
            <tr th:each="p : ${productsPage.content}">
                <td>
                    <img src="#" alt="STSM logo" title="STSM logo" th:src="@{/photo/} + ${p.id}" style="width: 80px" />
                </td>
                <td th:text="${{p.name}}">name_product</td>
                <td th:text="${{p.description}}">description_product</td>
                <td th:text="${{p.manufacturer}}">product_manufact</td>
                <td th:text="${#numbers.formatDecimal(p.price, 0, 2)}">product_price</td>
                <td th:text="${{p.unitInStock}}">product_quantity</td>
                <td th:text="#{|product.condition.${p.condition}|}">prod_confition</td>
                <td th:text="#{|product.category.${p.category}|}">prod_category</td>
                <td th:text="#{|product.status.${p.status}|}">prod_status</td>
                <td><a href="#" th:href="@{/product/view/{productId} (productId=${p.id}) }">View</a></td>

                <div sec:authorize="isAuthenticated()" >
                    <td>
                        <!--<a href="#"-->
                           <!--th:href="@{/order/add/{productId} (productId=${p.id})}"-->
                           <!--class="button-buy">Buy!</a>        -->

                        <a href="#"
                           th:attr="ng-click='addToCart('+ ${p.id} +')'"
                           class="button-buy">Buy!</a>

                    </td>
                </div>

                <div sec:authorize="isAnonymous()">
                    <td>
                        <a href="#"
                           th:href="@{/login}"
                           class="button-sign-in">SignIN!</a>
                    </td>
                </div>

            </tr>
            </tbody>
        </table>
    </div>
    <br/><br/>

    <h2>~~~~~~~~~~~~~~~~  PEGABLE methods  ~~~~~~~~~~~~~~</h2>

    <strong>getNumber: </strong>    <span th:text="${productsPage.number}">_test_</span><br/>
    <strong>getNumberOfElements: </strong>    <span th:text="${productsPage.numberOfElements}">_test_</span><br/>
    <strong>getSize: </strong>      <span th:text="${productsPage.size}">_test_</span><br/>
    <strong>getTotalPages: </strong>      <span th:text="${productsPage.totalPages}">_test_</span><br/>
    <strong>getTotalElements: </strong>      <span th:text="${productsPage.totalElements}">_test_</span><br/>
    <p>-----------------------------------------</p>
    <strong>isFirst(): </strong>      <span th:text="${productsPage.isFirst()}">_test_</span><br/>
    <strong>isLast(): </strong>      <span th:text="${productsPage.isLast()}">_test_</span><br/>
    <strong>hasNext(): </strong>      <span th:text="${productsPage.hasNext()}">_test_</span><br/>
    <strong>hasPrevious(): </strong>      <span th:text="${productsPage.hasPrevious()}">_test_</span><br/>





    <h2>~~~~~~~~~~~~~~~~  PAGE value list  ~~~~~~~~~~~~~~</h2>

    <div class="page-list-container">
    <!-- Previous + First arrows -->
    <span>
        <span th:if="${productsPage.isFirst() == false}">
            <a href="#" th:href="@{/product/page/{pageNumber} (pageNumber=0)}"> <--First</a>
        </span>
          <span th:if="${productsPage.isFirst()} ">
            <span class="button-disabled"> <--First</span>
        </span>
    </span>

    <span>
        <span th:if="${productsPage.hasPrevious()}">
            <a href="#" th:href="@{/product/page/{pageNumber} (pageNumber=${productsPage.number} - 1)}"> <-Prev</a>
        </span>
         <span th:if="${productsPage.hasPrevious() == false} ">
            <span class="button-disabled"> <-Prev</span>
         </span>
    </span>

        <!-- Numerated List of all pages-->


    <span th:with="firstPage=0, lastPage=${productsPage.totalPages -1}, arrayOfPages=${#numbers.sequence(firstPage, lastPage)}">
        <span th:each="ap : ${arrayOfPages}">
            <span th:class="${ap eq productsPage.number} ? 'button-active' : ''">
                <a href="#" th:href="@{/product/page/{pageNumber} (pageNumber=${ap})}">
                    <span th:text="${ap}+1 + ', '"></span>
                </a>
            </span>
        </span>
    </span>

        <!-- Next + Last arrows -->
    <span >
        <span th:if="${productsPage.hasNext()}">
            <a href="#" th:href="@{/product/page/{pageNumber} (pageNumber=${productsPage.number} + 1)}"> Next-></a>
        </span>
        <span th:if="${productsPage.hasNext() == false} ">
            <span class="button-disabled"> Next-></span>
        </span>
    </span>

    <span >
        <span th:if="${productsPage.isLast() == false}">
            <a href="#" th:href="@{/product/page/{pageNumber} (pageNumber=${productsPage.totalPages} -1) }">  Last-->>  </a>
        </span>
         <span th:if="${productsPage.isLast()} ">
            <span class="button-disabled"> Last-->></span>
        </span>
    </span>
    </div>

</div>
</body>
</html>













<!--

<h2>~~~~~~~~~~~~~~~~  PAGE value list  ~~~~~~~~~~~~~~</h2>

<div class="page-list-container">
    &lt;!&ndash; Previous + First arrows &ndash;&gt;
    <span th:if="${productsPage.isFirst() == false} ">
        <span>
            <a href="#" th:href="@{/product/page/{pageNumber} (pageNumber=0)}"> <&#45;&#45;First</a>
        </span>
    </span>

    <span th:if="${productsPage.hasPrevious()}">
        <span>
            <a href="#" th:href="@{/product/page/{pageNumber} (pageNumber=${productsPage.number} - 1)}"> <-Prev</a>
        </span>
    </span>

    &lt;!&ndash; Next + Last arrows &ndash;&gt;
    <span th:if="${productsPage.hasNext()}">
        <span>
            <a href="#" th:href="@{/product/page/{pageNumber} (pageNumber=${productsPage.number} + 1)}"> Next-></a>
        </span>
    </span>
    <span th:if="${productsPage.isLast() == false}">
        <span>
            <a href="#" th:href="@{/product/page/{pageNumber} (pageNumber=${productsPage.totalPages} -1) }">  Last&ndash;&gt;>  </a>
        </span>
    </span>
</div>






<h2>~~~~~~~~~~~~~~~~  LIST of ALL PAGES  ~~~~~~~~~~~~~~</h2>

<span th:with="firstPage=0, lastPage=${productsPage.totalPages -1}, arrayOfPages=${#numbers.sequence(firstPage, lastPage)}">
        <span th:each="ap : ${arrayOfPages}">
            <span>
                <a href="#" th:href="@{/product/page/{pageNumber} (pageNumber=${ap})}">
                    <span th:text="${ap} + 1 + ' | '"></span>
                </a>
            </span>
        </span>
    </span>











-->
























