<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template/fragments :: head">
    <meta charset="UTF-8">
    <title th:text="#{title.application}">_Store_test_title_</title>

</head>
<body>

<div th:replace="template/fragments :: header"><p>_test_header_</p></div>

<div th:replace="template/fragments :: sidebar" class="col-sm-1" >
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand">
                    <a href="#home"><span class="fa fa-home solo">All</span></a>
                </li>
                <li>
                    <a href="#anch1" data-scroll>
                        <span class="fa fa-anchor solo">Hand Tool</span>
                    </a>
                </li>
                <li>
                    <a href="#anch2" data-scroll>
                        <span class="fa fa-anchor solo">Electric </span>
                    </a>
                </li>
                <li>
                    <a href="#anch3" data-scroll>
                        <span class="fa fa-anchor solo">Hydraulic </span>
                    </a>
                </li>
                <li>
                    <a href="#anch4" data-scroll>
                        <span class="fa fa-anchor solo">Pneumatic </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div id="main-content" class="row col-sm-10" ng-app="orderApp">


    <!-- Product Detail -->
    <div class="container col-sm-6 product-detail">
        <img src="#" th:src="@{/photo/} + ${productDetailed.id}"  alt="Detail photo" title="Detail photo" />
    </div>


    <div class="container col-sm-5 product-detail" th:object="${productDetailed}">

        <h2> <span th:text="*{manufacturer}">Manufacturer</span>    <span th:text="*{name}">Name-of-Model</span> </h2>

        <hr/>

        <p id="price-title">Price:</p>

        <div class="container row col-md-12 price-block" ng-controller="orderCtrl">
            <div class="col-md-7 ">
                <h3>$ <span th:text="*{#numbers.formatDecimal(price, 0, 2)}">1999.99 </span> </h3>
            </div>

            <div class=" col-md-5">
                <a href="#" sec:authorize="isAuthenticated()" th:if="*{unitInStock} < 1"
                   id="button-grey-light" class="btn btn-default btn-sm" role="button">
                    Out of stock...
                </a>

                <a href="#" sec:authorize="isAuthenticated()" th:if="*{unitInStock} > 0" th:attr="ng-click='addToCart('+ *{id} +')'"
                   id="button-green" class="btn btn-default btn-sm" role="button" >
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">
                    <span style="margin-left: 3px ; font-family: Arial">Add to Cart!</span>
                </a>


                <a href="#" sec:authorize="isAnonymous()" th:href="@{/login}"
                   id="button-grey-light"  class="btn btn-default btn-sm" role="button">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    <span style="margin-left: 6px">SignIn for add to Cart</span>
                </a>
            </div>

        </div>


        <p><strong>Category:</strong> <span th:text="#{|product.category.${productDetailed.category}|}">Hand tool</span></p>
        <p><strong>Condition:</strong> <span th:text="#{|product.condition.${productDetailed.condition}|}">Brand NEW!!!</span></p>

        <p>
        <strong>Units in stock:</strong>
        <th:block>
            <span th:text="*{unitInStock} < 1 ? #{product.units.none}"> 0 </span>
            <span th:text="*{unitInStock} >= 1 and *{unitInStock} <= 5 ?  #{product.units.couple.left}"
                  style="color: red; font-weight: bold"> 0 < u <= 5 </span>
        </th:block>
        <th:block>
            <span th:text="*{unitInStock} < 15 and *{unitInStock} >= 6 ?  #{product.units.several.left}"
                  style="color: #f0631f; font-weight: bold"> 5 < u < 15 </span>
            <span th:text="*{unitInStock} >= 15 ? #{product.units.in.stock}"
                  style="color: #3c763d; font-weight: bold"> u >= 15 </span>
        </th:block>
        </p>





        <!-- TODO for fresh and special therms items-->
        <p><strong>Additional info:</strong> <span th:text="#{|product.status.${productDetailed.status}|}">Action! - 15% </span> </p>

        <hr/>

        <h3>Description</h3>
        <div class="product-description">
            <p th:text="*{{description}}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquam cupiditate dicta expedita harum hic illo iusto laudantium nesciunt nostrum,
                quam! Accusamus adipisci corporis eligendi est expedita id iure numquam ratione.
            </p>
        </div>

        <hr/>

        <h3>Characteristic: </h3>
        <div class="product-characterictic" th:each="f : *{features}">
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-caret-right"></i>
                    <span th:text="${f.title}">Title </span>
                    <span th:text="${f.body}"> body </span>
                    <span th:text="${f.attribute}"> attr </span>
                </li>
            </ul>

        </div>


    </div>
    <!-- END Product-detail-->


    </div>




<!--<tr th:object="${productDetailed}"  >-->
    <!--<td th:text="*{name}">name_product</td>-->
    <!--<td th:text="*{{description}}">description_product</td>-->
    <!--<td th:text="*{{manufacturer}}">product_manufact</td>-->
    <!--<td th:text="*{#numbers.formatDecimal(price, 0, 2)}">product_price</td>-->
    <!--<td th:text="*{{unitInStock}}">product_quantity</td>-->

    <!--<td th:text="#{|product.condition.${productDetailed.condition}|}">prod_confition</td>-->
    <!--<td th:text="#{|product.category.${productDetailed.category}|}">prod_category</td>-->
    <!--<td th:text="#{|product.status.${productDetailed.status}|}">prod_status</td>-->

    <!--<td >-->
        <!--<table>-->
            <!--<tbody style="background-color: greenyellow">-->
            <!--<tr th:each="f, rowStat : *{features}">-->
                <!--<td th:text="${rowStat.count}">1</td>-->
                <!--<td th:text="${f.title}">_title_</td>-->
                <!--<td th:text="${f.body}">_body_</td>-->
                <!--<td th:text="${f.attribute}">_attributes_map_</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</td>-->

    <div th:replace="template/fragments :: footer" class="header"><p>_test_footer_</p></div>

</body>
</html>









<!--

<div>
    <img src="#" alt="Detail photo" title="Detail photo" th:src="@{/photo/} + ${productDetailed.id}" style="width: auto" />
</div>

<div>
    <table border="1">
        <thead>
        <tr style="background-color: darkmagenta; color: #f0f0f0" >
            <th>Name</th>
            <th>description</th>
            <th>manufacturer</th>
            <th>price</th>
            <th>unit</th>

            <th>condition</th>
            <th>category</th>
            <th>status</th>
            <th>Attributes</th>
        </tr>
        </thead>

        <tbody>
        <tr th:object="${productDetailed}"  >
            <td th:text="*{name}">name_product</td>
            <td th:text="*{{description}}">description_product</td>
            <td th:text="*{{manufacturer}}">product_manufact</td>
            <td th:text="*{#numbers.formatDecimal(price, 0, 2)}">product_price</td>
            <td th:text="*{{unitInStock}}">product_quantity</td>

            <td th:text="#{|product.condition.${productDetailed.condition}|}">prod_confition</td>
            <td th:text="#{|product.category.${productDetailed.category}|}">prod_category</td>
            <td th:text="#{|product.status.${productDetailed.status}|}">prod_status</td>

            <td >
                <table>
                    <tbody style="background-color: greenyellow">
                    <tr th:each="f, rowStat : *{features}">
                        <td th:text="${rowStat.count}">1</td>
                        <td th:text="${f.title}">_title_</td>
                        <td th:text="${f.body}">_body_</td>
                        <td th:text="${f.attribute}">_attributes_map_</td>
                    </tr>
                    </tbody>
                </table>
            </td>

        </tr>
        </tbody>
    </table>

</div>-->
