<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/header :: head">
    <meta charset="UTF-8">
    <title th:text="#{title.application}">_test_title_</title>
    <link rel="stylesheet" type="text/css" media="all" href="../resources/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="template/header :: header" class="header"><p>_test_header_</p></div>

<div class="main-content">

    <!-- ************************************** Site menu  ****************************************** -->

    <div th:replace="template/menu :: tablecontroller" class="table-controller" >
        <table border="2">
            <tbody>
            <tr style="background-color: darkturquoise">
                <th>Test_title_1</th>
                <th>TestTitle_2</th>
                <th>reserv</th>
            </tr>
            <tr>
                <td><a href="#">_test_Link1</a></td>
                <td><a href="#">_test_Link2</a></td>
                <td>reserv</td>
            </tr>
            </tbody>
        </table>
        <br/>
        <br/>
    </div>

    <div>
        <table border="1">
            <thead>
            <tr style="background-color: darkmagenta; color: #f0f0f0" >
                <th>Name</th>
                <th>description</th>
                <th>manufacturer</th>
                <th>price</th>
                <th>unit</th>

                <th>condition</th>
                <th>category</th>
                <th>status</th>
                <th>Attributes</th>
            </tr>
            </thead>



            <tbody>
            <tr th:object="${productDetailed}"  >
                <td th:text="*{name}">name_product</td>
                <td th:text="*{{description}}">description_product</td>
                <td th:text="*{{manufacturer}}">product_manufact</td>
                <td th:text="*{#numbers.formatDecimal(price, 0, 2)}">product_price</td>
                <td th:text="*{{unitInStock}}">product_quantity</td>

                <td th:text="#{|product.condition.${productDetailed.condition}|}">prod_confition</td>
                <td th:text="#{|product.category.${productDetailed.category}|}">prod_category</td>
                <td th:text="#{|product.status.${productDetailed.status}|}">prod_status</td>

                <td >
                    <table>
                        <tbody style="background-color: greenyellow">
                        <tr th:each="f, rowStat : *{features}">
                            <td th:text="${rowStat.count}">1</td>
                            <td th:text="${f.title}">_title_</td>
                            <td th:text="${f.body}">_body_</td>
                            <td th:text="${f.attribute}">_attributes_map_</td>
                        </tr>
                        </tbody>
                    </table>
                </td>

            </tr>
            </tbody>

            <!--<tbody>-->
            <!--<tr th:each="p : ${productDetailed}">-->
                <!--<td th:text="${p.name}">name_product</td>-->
                <!--<td th:text="${{p.description}}">description_product</td>-->
                <!--<td th:text="${{p.manufacturer}}">product_manufact</td>-->
                <!--<td th:text="${#numbers.formatDecimal(p.price, 0, 2)}">product_price</td>-->
                <!--<td th:text="${{p.unitInStock}}">product_quantity</td>-->

                <!--<td th:text="#{|product.condition.${p.condition}|}">prod_confition</td>-->
                <!--<td th:text="#{|product.category.${p.category}|}">prod_category</td>-->
                <!--<td th:text="#{|product.status.${p.status}|}">prod_status</td>-->

                <!--<td >-->
                    <!--<table>-->
                        <!--<tbody style="background-color: deepskyblue">-->
                        <!--<tr th:each="f, rowStat : ${p.features}">-->
                            <!--<td th:text="${rowStat.count}">1</td>-->
                            <!--<td th:text="${f.title}">_title_</td>-->
                            <!--<td th:text="${f.body}">_body_</td>-->
                            <!--<td th:text="${f.attribute}">_attributes_map_</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</td>-->

            <!--</tr>-->
            <!--</tbody>-->
        </table>


    </div>



</div>


<div th:replace="template/footer :: footer" class="footer"><p>_test_footer</p></div>
</body>
</html>