<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template/fragments :: head">
    <meta charset="UTF-8">
    <title th:text="#{title.application}">_test_title_</title>
    <link rel="stylesheet" type="text/css" media="all" href="../resources/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>

<div th:replace="template/fragments :: header" class="header"><p>_test_header_</p></div>

<div th:replace="template/fragments :: sidebar" class="col-sm-1" >
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand">
                    <a href="#home"><span class="fa fa-home solo">All</span></a>
                </li>
                <li>
                    <a href="#anch1" data-scroll>
                        <span class="fa fa-anchor solo">Hand Tool</span>
                    </a>
                </li>
                <li>
                    <a href="#anch2" data-scroll>
                        <span class="fa fa-anchor solo">Electric </span>
                    </a>
                </li>
                <li>
                    <a href="#anch3" data-scroll>
                        <span class="fa fa-anchor solo">Hydraulic </span>
                    </a>
                </li>
                <li>
                    <a href="#anch4" data-scroll>
                        <span class="fa fa-anchor solo">Pneumatic </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<div id="main-content" class="row col-sm-10">


    <!--<div th:replace="template/menu :: tablecontroller" class="table-controller">-->
        <!--<table border="2">-->
            <!--<tbody>-->
            <!--<tr style="background-color: darkturquoise">-->
                <!--<th>Test_title_1</th>-->
                <!--<th>TestTitle_2</th>-->
                <!--<th>reserv</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a href="#">_test_Link1</a></td>-->
                <!--<td><a href="#">_test_Link2</a></td>-->
                <!--<td>reserv</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->

        <!--<br/> <br/>-->
    <!--</div>-->

    <!--<div th:replace="template/menu :: productmenu" class="product-menu"></div>-->


    <a href="#" th:href="@{?}" class="button-blue"> ALL-TEST!!!!</a>

     <a href="#" th:href="@{?orderBy=price&sortBy=asc}" th:class="${sortBy} eq 'asc' and ${orderBy} eq 'price' ?
                                                                    'button-blue-active' : 'button-blue' ">
        PRICE-ASC(V)</a>
    <a href="#" th:href="@{?orderBy=price&sortBy=desc}" th:class="${sortBy} eq 'desc' and ${orderBy} eq 'price' ?
                                                                    'button-blue-active' : 'button-blue'">
        PRICE-DESC(^)</a>

    <a href="#" th:href="@{?orderBy=manufacturer&sortBy=asc}" th:class="${sortBy} eq 'asc' and ${orderBy} eq 'manufacturer' ?
                                                                    'button-blue-active' : 'button-blue'">
        Brand-Asc(V)</a>
    <a href="#" th:href="@{?orderBy=manufacturer&sortBy=desc}" th:class="${sortBy} eq 'desc' and ${orderBy} eq 'manufacturer' ?
                                                                    'button-blue-active' : 'button-blue'">
        Brand-DESC(^)</a>


    <div >

        <div th:unless="${#lists.isEmpty(productsPage)}" ng-app="orderApp" id="product-view">

            <h2 th:text="#{product.table.title.list}">_test_List of Products_</h2>

            <div th:if="${productsPage.numberOfElements} > 0">
                <table border="1">
                    <thead>
                    <tr style="background-color: dodgerblue">
                        <th>Pic</th>
                        <th>Name</th>
                        <th>description</th>
                        <th>manufact</th>
                        <th>price</th>
                        <th>unit</th>
                        <th>condition</th>
                        <th>category</th>
                        <th>status</th>
                        <th style="background-color: blueviolet">View</th>
                        <th>ADD</th>
                    </tr>
                    </thead>

                    <tbody ng-controller="orderCtrl">
                    <tr th:each="p : ${productsPage.content}">
                        <td>
                            <img src="#" alt="STSM logo" title="STSM logo" th:src="@{/photo/} + ${p.id}"
                                 style="width: 80px"/>
                        </td>
                        <td th:text="${{p.name}}">name_product</td>
                        <td th:text="${{p.description}}">description_product</td>
                        <td th:text="${{p.manufacturer}}">product_manufact</td>
                        <td th:text="${#numbers.formatDecimal(p.price, 0, 2)}">product_price</td>
                        <td th:text="${{p.unitInStock}}">product_quantity</td>
                        <td th:text="#{|product.condition.${p.condition}|}">prod_confition</td>
                        <td th:text="#{|product.category.${p.category}|}">prod_category</td>
                        <td th:text="#{|product.status.${p.status}|}">prod_status</td>
                        <td><a href="#" th:href="@{/product/detail/{productId} (productId=${p.id}) }">View</a></td>

                        <div sec:authorize="isAuthenticated()">
                            <div th:if="${p.unitInStock} < 1">
                                <td>
                                    <a href="#"
                                       class="button-buy-locked">Out of stock</a>
                                </td>
                            </div>

                            <div th:if="${p.unitInStock} > 0">
                                <td>
                                    <a href="#"
                                       th:attr="ng-click='addToCart('+ ${p.id} +')'"
                                       class="button-buy-active">Buy!</a>
                                </td>
                            </div>
                        </div>


                        <div sec:authorize="isAnonymous()">
                            <td>
                                <a href="#"
                                   th:href="@{/login}"
                                   class="button-buy-locked">SignIN!</a>
                            </td>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>



    <div class="page-list-container">
            <!-- Previous + First arrows -->
    <span>
        <span th:if="${productsPage.isFirst() == false}">
            <a href="#" th:href="@{/product/{productCategory}/page/{pageNumber}?orderBy={orderBy}&sortBy={sortBy}
                                (pageNumber=0, productCategory=${productCategory}, orderBy=${orderBy}, sortBy=${sortBy})}">
                <--First</a>
        </span>

        <span th:if="${productsPage.isFirst()} ">
            <span class="button-disabled"> <--First</span>
        </span>
    </span>

    <span>
        <span th:if="${productsPage.hasPrevious()}">
            <a href="#" th:href="@{/product/{productCategory}/page/{pageNumber}?orderBy={orderBy}&sortBy={sortBy}
                                    (pageNumber=${productsPage.number} - 1, productCategory=${productCategory}, orderBy=${orderBy}, sortBy=${sortBy})}">
                <-Prev</a>
        </span>
         <span th:if="${productsPage.hasPrevious() == false} ">
            <span class="button-disabled"> <-Prev</span>
         </span>
    </span>

            <!-- Numerated List of all pages-->
    <span th:with="firstPage=0, lastPage=${productsPage.totalPages -1}, arrayOfPages=${#numbers.sequence(firstPage, lastPage)}">
        <span th:each="ap : ${arrayOfPages}">
            <span th:class="${ap eq productsPage.number} ? 'button-active' : ''">
                <a href="#" th:href="@{/product/{productCategory}/page/{pageNumber}?orderBy={orderBy}&sortBy={sortBy}
                 (pageNumber=${ap}, productCategory=${productCategory}, orderBy=${orderBy}, sortBy=${sortBy})}">
                    <span th:text="${ap}+1 + ', '"></span>
                </a>
            </span>
        </span>
    </span>

            <!-- Next + Last arrows -->
    <span>
        <span th:if="${productsPage.hasNext()}">
            <a href="#" th:href="@{/product/{productCategory}/page/{pageNumber}?orderBy={orderBy}&sortBy={sortBy}
                                (pageNumber=${productsPage.number} + 1, productCategory=${productCategory}, orderBy=${orderBy}, sortBy=${sortBy})}">
                Next-></a>
        </span>
        <span th:if="${productsPage.hasNext() == false} ">
            <span class="button-disabled"> Next-></span>
        </span>
    </span>

    <span>
        <span th:if="${productsPage.isLast() == false}">
            <a href="#" th:href="@{/product/{productCategory}/page/{pageNumber}?orderBy={orderBy}&sortBy={sortBy}
                                (pageNumber=${productsPage.totalPages} -1, productCategory=${productCategory}, orderBy=${orderBy}, sortBy=${sortBy}) }">
                Last-->> </a>
        </span>
         <span th:if="${productsPage.isLast()} ">
            <span class="button-disabled"> Last-->></span>
        </span>
    </span>
        </div>

    </div> <!--product-content-->



    <br/><br/>


    <!-- If content is absent-->

    <div th:if="${productsPage.hasContent()} eq false" id="product-content-absent">
        <h1 th:text="#{searching.get.no.result}">test_There is no Product! </h1>
    </div>


</div>

<div th:replace="template/fragments :: footer" class="header"><p>_test_footer_</p></div>

</body>
</html>