<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/header :: head">
    <meta charset="UTF-8">
    <title th:text="#{title.application}">_test_title_</title>
    <link rel="stylesheet" type="text/css" media="all" href="../resources/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="template/header :: header" class="header"><p>_test_header_</p></div>


<div class="main-content">

    <!-- ************************************** Site menu  ****************************************** -->

<div th:replace="template/menu :: tablecontroller" class="table-controller" >
    <table border="2">
        <tbody>
        <tr style="background-color: darkturquoise">
            <th>Test_title_1</th>
            <th>TestTitle_2</th>
            <!--<th>Message</th>-->
            <!--<th>Angular-Test</th>-->
            <th>reserv</th>
        </tr>
        <tr>
            <td><a href="#">_test_Link1</a></td>
            <td><a href="#">_test_Link2</a></td>
            <!--<td><a href="#" th:href="@{/mesageCreate}">Create Message</a></td>-->
            <!--<td><a href="#" th:href="@{/ang-test}">Angular Test</a></td>-->
            <td>reserv</td>
        </tr>
        </tbody>
    </table>
    <br/>
    <br/>
</div>
    <!-- ***************************************** Table with all products  ************************************** -->

    <div th:unless="${#lists.isEmpty(allProducts)}">

        <h2 th:text="#{product.table.title.list}">_test_List of Products_</h2>

        <table border="1">
            <thead>
            <tr style="background-color: dodgerblue">
                <th>Name</th>
                <th>description</th>
                <th>manufacturer</th>
                <th>price</th>
                <th>unit</th>

                <th>condition</th>
                <th>category</th>
                <th>status</th>
                <th>Attributes</th>
                <th style="background-color: crimson">Delete</th>
                <th style="background-color: #99cc33">Edit</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="p : ${allProducts}">
                <td th:text="${{p.name}}">name_product</td>
                <td th:text="${{p.description}}">description_product</td>
                <td th:text="${{p.manufacturer}}">product_manufact</td>
                <td th:text="${#numbers.formatDecimal(p.price, 0, 2)}">product_price</td>
                <td th:text="${{p.unitInStock}}">product_quantity</td>

                <td th:text="#{|product.condition.${p.condition}|}">prod_confition</td>
                <td th:text="#{|product.category.${p.category}|}">prod_category</td>
                <td th:text="#{|product.status.${p.status}|}">prod_status</td>

                <td >
                    <table>
                        <tbody style="background-color: deepskyblue">
                            <tr th:each="f, rowStat : ${p.features}">
                                <td th:text="${rowStat.count}">1</td>
                                <td th:text="${f.title}">_title_</td>
                                <td th:text="${f.body}">_body_</td>
                                <!--<td th:text="${f.attribute}">_attributes_map_</td>-->
                            </tr>
                        </tbody>
                    </table>
                </td>

                <td><a href="#" th:href="@{/product/delete/{productId} (productId=${p.id}) }">Delete</a></td>
                <td><a href="#" th:href="@{/product/edit/{productId} (productId=${p.id}) }">Edit</a></td>

            </tr>
            </tbody>
        </table>
    </div>
    <br/><br/>

    <!-- ************************************** Form for creating product ************************************** -->

    <form action="#" th:action="@{/product/create}" th:object="${product}" method="post">
        <fieldset>

            <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul>

            <input type="hidden" th:field="*{id}" />

            <div>
                <label for="name">
                    <span th:text="#{product.name}">_test_Name_</span>
                </label>
                <input type="text" th:field="*{name}" id="name" th:errorclass="fieldError" />
            </div>

            <div>
                <label for="description">
                    <span th:text="#{product.description}">_test_Description_</span>
                </label>
                <input type="text" th:field="*{description}" id="description" th:errorclass="fieldError" />
            </div>

            <div>
                <label for="manufacturer">
                    <span th:text="#{product.manufacturer}">_test_manufacturer_</span>
                </label>
                <input type="text" th:field="*{manufacturer}" id="manufacturer" th:errorclass="fieldError" />
            </div>

            <div>
                <label for="unitInStock">
                    <span th:text="#{product.unitInStock}">_test_unit_inStock_</span>
                </label>
                <input type="number" th:field="*{unitInStock}" id="unitInStock" th:errorclass="fieldError" />
            </div>

            <div>
                <label for="price">
                    <span th:text="#{product.price}">_test_price_</span>
                </label>
                <input th:field="*{price}" id="price" th:errorclass="fieldError" />
            </div>

            <div>
                <label for="category" th:text="#{product.category}">Category</label>
                <select th:field="*{category}">
                    <option th:each="category : ${allProductCategory}" th:value="${category}" id="category" th:text="#{${'product.category.' + category}}">test_category_</option>
                </select>
            </div>

            <!-- TODO default
            https://github.com/thymeleaf/thymeleaf-tests/blob/20131101/src/test-common/resources/engine/springintegration/form/form07.thtest
            http://forum.thymeleaf.org/radio-button-not-binding-correctly-td4026964.html

            #ids.next('covered')
            -->
            <div >
                <label th:text="#{product.condition}">_test_Condition_</label>
                <input  th:field="*{condition}" type="radio" th:each="condition : ${allProductConditions}"
                        th:value="${condition}" th:text="#{${'product.condition.' + condition}}" />
            </div>


            <!--Good warinant-->
            <!--<div >-->
                <!--<label for="condition" th:text="#{product.condition}">_test_Condition_</label>-->
                <!--<input type="radio" th:each="cond : ${allProductConditions}" id="condition"-->
                       <!--th:text="#{${'product.condition.' + cond}}" th:field="*{condition}" th:value="${product.condition}" />-->
            <!--</div>-->







            <!--<div th:each="cond : ${allProductConditions}">-->
                <!--<input type="radio" th:field="*{condition}" th:value="${cond}" />-->
                <!--<label th:for="${#ids.prev('condition')}" th:text="#{${'product.condition.' + cond}}" th:value="${condition}">_test_Condition_</label>-->
            <!--</div>-->

            <div>
                <label for="status" th:text="#{product.status}">Status</label>
                <select th:field="*{status}">
                    <option th:each="status : ${allProductStatus}" th:value="${status}" id="status" th:text="#{${'product.status.' + status}}">test_status_</option>
                </select>
            </div>

            <!--Add and remove row with features-->

            <br/> <br/> <br/>

            <div>
                <label>Attributes</label>
                <table>
                    <thead>
                    <tr>
                        <th>Number:</th>
                        <th>Title:</th>
                        <th>Body:</th>
                        <th>Atribute:</th>
                        <th>
                            <button type="submit" name="addRow">Add row</button>
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="row,rowStat : *{features}">
                        <td th:text="${rowStat.count}">1</td>
                        <td>
                            <input type="text" th:field="*{features[__${rowStat.index}__].title}" th:errorclass="fieldError" />
                        </td>
                        <td>
                            <input type="text" th:field="*{features[__${rowStat.index}__].body}" th:errorclass="fieldError" />
                        </td>
                        <td>
                            <input type="text" th:field="*{features[__${rowStat.index}__].attribute}" th:errorclass="fieldError" />
                        </td>

                        <td>
                            <button type="submit" name="removeRow" th:value="${rowStat.index}">Remove row</button>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>


            <!--Save button-->

            <!-- TODO add\edit change value-->
            <div class="submit">
                <button type="submit" name="save" >Add product</button>
            </div>

        </fieldset>
    </form>



</div>


<div th:replace="template/footer :: footer" class="footer"><p>_test_footer</p></div>
</body>
</html>