<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template/fragments :: head">
    <meta charset="UTF-8">
    <title th:text="#{title.application}">_Store_test_title_</title>

</head>
<body>

<div th:replace="template/fragments :: header"><p>_test_header_</p></div>

<div th:replace="template/fragments :: sidebar" class="col-sm-1" >
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand">
                    <a href="#home"><span class="fa fa-home solo">All</span></a>
                </li>
                <li>
                    <a href="#anch1" data-scroll>
                        <span class="fa fa-anchor solo">Hand Tool</span>
                    </a>
                </li>
                <li>
                    <a href="#anch2" data-scroll>
                        <span class="fa fa-anchor solo">Electric </span>
                    </a>
                </li>
                <li>
                    <a href="#anch3" data-scroll>
                        <span class="fa fa-anchor solo">Hydraulic </span>
                    </a>
                </li>
                <li>
                    <a href="#anch4" data-scroll>
                        <span class="fa fa-anchor solo">Pneumatic </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div id="main-content" class="row col-sm-10">




    <div>
        <img src="#" alt="Detail photo" title="Detail photo" th:src="@{/photo/} + ${productDetailed.id}" style="width: auto" />
    </div>

    <div>
        <table border="1">
            <thead>
            <tr style="background-color: darkmagenta; color: #f0f0f0" >
                <th>Name</th>
                <th>description</th>
                <th>manufacturer</th>
                <th>price</th>
                <th>unit</th>

                <th>condition</th>
                <th>category</th>
                <th>status</th>
                <th>Attributes</th>
            </tr>
            </thead>

            <tbody>
            <tr th:object="${productDetailed}"  >
                <td th:text="*{name}">name_product</td>
                <td th:text="*{{description}}">description_product</td>
                <td th:text="*{{manufacturer}}">product_manufact</td>
                <td th:text="*{#numbers.formatDecimal(price, 0, 2)}">product_price</td>
                <td th:text="*{{unitInStock}}">product_quantity</td>

                <td th:text="#{|product.condition.${productDetailed.condition}|}">prod_confition</td>
                <td th:text="#{|product.category.${productDetailed.category}|}">prod_category</td>
                <td th:text="#{|product.status.${productDetailed.status}|}">prod_status</td>

                <td >
                    <table>
                        <tbody style="background-color: greenyellow">
                        <tr th:each="f, rowStat : *{features}">
                            <td th:text="${rowStat.count}">1</td>
                            <td th:text="${f.title}">_title_</td>
                            <td th:text="${f.body}">_body_</td>
                            <td th:text="${f.attribute}">_attributes_map_</td>
                        </tr>
                        </tbody>
                    </table>
                </td>

            </tr>
            </tbody>
        </table>

    </div>


</div>

<div th:replace="template/fragments :: footer" class="header"><p>_test_footer_</p></div>

</body>
</html>