<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template/fragments :: head">
    <meta charset="UTF-8">
    <title th:text="#{title.application}">_test_title_</title>
    <link rel="stylesheet" type="text/css" media="all" href="#"
          th:href="@{/css/main.css}"/>
</head>
<body>

<div th:replace="template/fragments :: header"></div>

<div th:replace="template/fragments :: sidebar"></div>

<!--Main content-->
<div id="main-content" class="row col-sm-10">

    <h2>Product manager</h2>
    <strong>Total elements: </strong> <span th:text="${productsPage.totalElements}"
                                            style="color: brown">_test_</span><br/>
    <strong>Product Status: </strong> <span th:text="${productStatus}">_test_</span><br/>
    <hr>

    <div id="sort-button-block">
        <a href="#" th:href="@{/product/admin/manage/all/page/0}" class="btn btn-default btn-sm"
           th:id="${productStatus} eq 'all' ? 'button-blue-active' : 'button-blue-light'"> ALL</a>

        <a href="#" th:href="@{/product/admin/manage/locked/page/0}" class="btn btn-default btn-sm"
           th:id="${productStatus} eq 'locked' ? 'button-blue-active' : 'button-blue'"> LOCKED</a>

        <a href="#" th:href="@{/product/admin/manage/obsolete/page/0}" class="btn btn-default btn-sm"
           th:id="${productStatus} eq 'obsolete' ? 'button-blue-active' : 'button-blue'"> OBSOLETE</a>

        <a href="#" th:href="@{/product/admin/manage/active/page/0}" class="btn btn-default btn-sm"
           th:id="${productStatus} eq 'active' ? 'button-blue-active' : 'button-blue'"> ACTIVE</a>

        <a href="#" th:href="@{/product/admin/manage/special/page/0}" class="btn btn-default btn-sm"
           th:id="${productStatus} eq 'special' ? 'button-blue-active' : 'button-blue'"> SPECIAL</a>

        <a href="#" th:href="@{/product/admin/manage/fresh/page/0}" class="btn btn-default btn-sm"
           th:id="${productStatus} eq 'fresh' ? 'button-blue-active' : 'button-blue'"> FRESH</a>
    </div>


    <table class="table table-bordered compact-font filled-head">
        <thead>
        <tr>
            <th>Detail</th>
            <th>Edit</th>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Category</th>
            <th>Condition</th>
            <th>Status</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Delete</th>
            <th>Lock</th>
            <th>Obsolete</th>
            <th>Active</th>
            <th>Special</th>
            <th>Fresh</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="p : ${productsPage.content}">

            <td>
                <a href="#"
                   th:href="@{/product/detail/{id} (id=${p.id})}"
                   id="button-blue" class="btn btn-default btn-xs" th:text="${{p.id}}"> _id_</a>
            </td>

            <td>
                <a href="#"
                   th:href="@{/product/manage/edit/{productId} (productId=${p.id})}"
                   id="button-blue-active" class="btn btn-default btn-xs">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a>
            </td>


            <td th:text="${{p.name}}" style="font-size:10px;">name</td>
            <td th:text="${{p.manufacturer}}">manufacturer</td>

            <td th:text="${{p.category}}">category</td>
            <td th:text="${{p.condition}}">condition</td>
            <td th:text="${{p.status}}">status</td>

            <td th:text="${{p.price}} + '$'">price</td>
            <td th:text="${{p.unitInStock}}">unitInStock</td>

            <!-- Buttons in table -->
            <td>
                <a href="#"
                   th:href="@{/product/admin/manage/{productStatus}/page/{pageNumber}/delete/{id}
                   (id=${p.id}, productStatus=${productStatus}, pageNumber=${productsPage.number})}"
                   id="button-red" class="btn btn-default btn-xs">Delete</a>
            </td>

            <td>
                <a href="#"
                   th:href="@{/product/admin/manage/{productStatus}/page/{pageNumber}/locked/{id}
                   (id=${p.id}, productStatus=${productStatus}, pageNumber=${productsPage.number})}"
                   id="button-orange" class="btn btn-default btn-xs">Lock</a>
            </td>

            <td>
                <a href="#"
                   th:href="@{/product/admin/manage/{productStatus}/page/{pageNumber}/obsolete/{id}
                   (id=${p.id}, productStatus=${productStatus}, pageNumber=${productsPage.number})}"
                   id="button-yellow" class="btn btn-default btn-xs">Obsolete</a>
            </td>

            <td>
                <a href="#"
                   th:href="@{/product/admin/manage/{productStatus}/page/{pageNumber}/active/{id}
                   (id=${p.id}, productStatus=${productStatus}, pageNumber=${productsPage.number})}"
                   id="button-green-lite" class="btn btn-default btn-xs">Active</a>
            </td>
            <td>
                <a href="#"
                   th:href="@{/product/admin/manage/{productStatus}/page/{pageNumber}/special/{id}
                   (id=${p.id}, productStatus=${productStatus}, pageNumber=${productsPage.number})}"
                   id="button-green" class="btn btn-default btn-xs">Special</a>
            </td>
            <td>
                <a href="#"
                   th:href="@{/product/admin/manage/{productStatus}/page/{pageNumber}/fresh/{id}
                   (id=${p.id}, productStatus=${productStatus}, pageNumber=${productsPage.number})}"
                   id="button-green" class="btn btn-default btn-xs">Fresh</a>
            </td>
            <!-- END buttons in table-->

        </tr>
        </tbody>
    </table>

</div>
<!-- END Main content-->


<!-- Pagination -->
<div class="container col-sm-10" id="pagination-products">
    <ul class="pagination" th:if="${productsPage.totalPages} > 1">

        <th:block
                th:with="firstPage=0, lastPage=${productsPage.totalPages -1}, arrayOfPages=${#numbers.sequence(firstPage, lastPage)}">

            <!-- First arrow -->
            <li th:class="${productsPage.isFirst()} eq true ? 'disabled' : '' ">
                <a href="#"
                   th:href="@{/product/admin/manage/{productStatus}/page/{pageNumber}
                   (pageNumber=0, productStatus=${productStatus})}">
                    &laquo; First</a>
            </li>

            <!--Previous arrow -->
            <li th:class="${productsPage.hasPrevious()} eq false ? 'disabled' : '' ">

                <a href="#" th:href="@{/product/admin/manage/{productStatus}/page/{pageNumber}
                    (pageNumber=${productsPage.number} - 1, productStatus=${productStatus})}">
                    &lsaquo; Prev </a>

            </li>

            <!-- Numerated List of all pages-->
            <li th:each="ap : ${arrayOfPages}" th:class="${ap eq productsPage.number} ? 'active' : ''">
                <a href="#"
                   th:href="@{/product/admin/manage/{productStatus}/page/{pageNumber}
                   (pageNumber=${ap}, productStatus=${productStatus})}" th:text="${ap}+1">
                    _test_page_number_
                </a>
            </li>

            <!-- Next  arrow -->
            <li th:class="${productsPage.hasNext()} eq false ? 'disabled' : '' ">
                <a href="#" th:href="@{/product/admin/manage/{productStatus}/page/{pageNumber}
                                (pageNumber=${productsPage.number} + 1, productStatus=${productStatus})}">
                    Next &rsaquo;</a>
            </li>

            <!--Last arrow-->
            <li th:class="${productsPage.isLast()} eq true ? 'disabled' : '' ">
                <a href="#" th:href="@{/product/admin/manage/{productStatus}/page/{pageNumber}
                                (pageNumber=${productsPage.totalPages} -1, productStatus=${productStatus}) }">
                    Last &raquo; </a>
            </li>


        </th:block>
    </ul>
</div>
<!-- END pagination-->


<div th:replace="template/fragments :: footer"><p>_test_footer_</p></div>

</body>
</html>
