<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template/fragments :: head">
    <meta charset="UTF-8">
    <title th:text="#{title.application}">_test_title_</title>
    <link rel="stylesheet" type="text/css" media="all" href="../resources/css/del______main.css" th:href="@{/css/main.css}"/>
</head>
<body>

<div th:replace="template/fragments :: header"><p>_test_header_</p></div>

<div th:replace="template/fragments :: sidebar" class="col-sm-1" >
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand">
                    <a href="#home"><span class="fa fa-home solo">All</span></a>
                </li>
                <li>
                    <a href="#anch1" data-scroll>
                        <span class="fa fa-anchor solo">Hand Tool</span>
                    </a>
                </li>
                <li>
                    <a href="#anch2" data-scroll>
                        <span class="fa fa-anchor solo">Electric </span>
                    </a>
                </li>
                <li>
                    <a href="#anch3" data-scroll>
                        <span class="fa fa-anchor solo">Hydraulic </span>
                    </a>
                </li>
                <li>
                    <a href="#anch4" data-scroll>
                        <span class="fa fa-anchor solo">Pneumatic </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<div id="main-content" class="row col-sm-10">

    <div th:replace="productList :: #product-content-absent"></div>

    <div th:replace="productList :: #product-view"></div>

</div>


<!-- Pagination -->
<div class="container col-sm-10" id="pagination-products">
    <ul class="pagination" th:if="${productsPage.hasContent()} eq true">

        <th:block th:with="firstPage=0, lastPage=${productsPage.totalPages -1}, arrayOfPages=${#numbers.sequence(firstPage, lastPage)}">

            <!-- First arrow -->
            <li th:class ="${productsPage.isFirst()} eq true ? 'disabled' : '' ">
                <a href="#" th:href="@{/product/search/page/{pageNumber} (pageNumber=0)}">&laquo; First</a>
            </li>

            <!--Previous arrow -->
            <li th:class ="${productsPage.hasPrevious()} eq false ? 'disabled' : '' ">
                <a href="#" th:href="@{/product/search/page/{pageNumber} (pageNumber=${productsPage.number} - 1)}">
                    &lsaquo; Prev</a>
            </li>

            <!-- Numerated List of all pages-->
            <li th:each="ap : ${arrayOfPages}" th:class="${ap eq productsPage.number} ? 'active' : ''">
                <a href="#" th:href="@{/product/search/page/{pageNumber} (pageNumber=${ap})}" th:text="${ap}+1">
                    _test_page_number_
                </a>
            </li>

            <!-- Next  arrow -->
            <li th:class ="${productsPage.hasNext()} eq false ? 'disabled' : '' ">
                <a href="#" th:href="@{/product/search/page/{pageNumber} (pageNumber=${productsPage.number} + 1)}">
                    Next &rsaquo;</a>
            </li>

            <!--Last arrow-->
            <li th:class ="${productsPage.isLast()} eq true ? 'disabled' : '' ">
                <a href="#" th:href="@{/product/search/page/{pageNumber} (pageNumber=${productsPage.totalPages} -1) }">
                    Last &raquo; </a>
            </li>

        </th:block>
    </ul>
</div>
<!-- END pagination-->


<div th:replace="template/fragments :: footer" class="header"><p>_test_footer_</p></div>

</body>
</html>
