<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template/fragments :: head">
    <meta charset="UTF-8">
    <title th:text="#{title.application}">_test_title_</title>
    <link rel="stylesheet" type="text/css" media="all" href="../resources/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>

<div th:replace="template/fragments :: header" ></div>

<div th:replace="template/fragments :: sidebar" ></div>

<!--Main content-->
<div id="main-content" class="row col-sm-10">

    <h2>User manager</h2>
    <strong>Total users: </strong> <span th:text="${usersPage.totalElements}" style="color: brown">_test_</span><br/>
    <hr>


    <table class="table table-bordered compact-font filled-head">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Password</th>
            <th>Enabled</th>
            <th>Roles</th>
            <th>First Name</th>
            <th>Last Name</th>

            <th>Switch</th>
            <th>Delete</th>
        </tr>
        <tbody>
        <tr th:each="u : ${usersPage.content}">
            <td th:text="${u.id}">testID</td>
            <td th:text="${u.name}">name</td>
            <td th:text="${u.email}">email</td>
            <td th:text="${u.password}">pass</td>
            <td th:text="#{|user.active.${u.enabled}|}">prod_status</td>
            <td>
                <table>
                    <tbody style="background-color: #b2dba1">
                    <tr th:each="r, rowStat : ${u.roles}">
                        <td th:text="${rowStat.count} + '-'">1</td>
                        <td th:text="${r}">_title_</td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td th:text="${u.firstName}">firstname</td>
            <td th:text="${u.lastName}">testLAstName</td>

            <td th:switch="${u.enabled}">
                <th:block th:case="true">
                    <a href="#" th:href="@{/user/admin/manage/reset_user/{id}/false?pageNumber={pageNumber} (id=${u.id}, pageNumber=${usersPage.number})}"
                       id="button-orange" class="btn btn-default btn-xs">Lock</a>
                </th:block>

                <th:block th:case="false">
                    <a href="#" th:href="@{/user/admin/manage/reset_user/{id}/true?pageNumber={pageNumber} (id=${u.id}, pageNumber=${usersPage.number})}"
                    id="button-green" class="btn btn-default btn-xs">Unlock</a>
                </th:block>
            </td>

            <td>
                <a href="#" th:href="@{/user/admin/manage/delete_user/{id}?pageNumber={pageNumber} (id=${u.id}, pageNumber=${usersPage.number})}"
                   id="button-red" class="btn btn-default btn-xs">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- END Main content-->


<!-- Pagination -->
<div class="container col-sm-10" id="pagination-products">
    <ul class="pagination" th:if="${usersPage.totalPages} > 1">

        <th:block
                th:with="firstPage=0, lastPage=${usersPage.totalPages -1}, arrayOfPages=${#numbers.sequence(firstPage, lastPage)}">

            <!-- First arrow -->
            <li th:class="${usersPage.isFirst()} eq true ? 'disabled' : '' ">
                <a href="#"
                   th:href="@{/user/admin/manage/page/{pageNumber} (pageNumber=0)}"> &laquo;
                    First</a>
            </li>

            <!--Previous arrow -->
            <li th:class="${usersPage.hasPrevious()} eq false ? 'disabled' : '' ">

                <a href="#" th:href="@{/user/admin/manage/page/{pageNumber}
                    (pageNumber=${usersPage.number} - 1)}"> &lsaquo; Prev </a>

            </li>

            <!-- Numerated List of all pages-->
            <li th:each="ap : ${arrayOfPages}" th:class="${ap eq usersPage.number} ? 'active' : ''">
                <a href="#"
                   th:href="@{/user/admin/manage/page/{pageNumber} (pageNumber=${ap})}"
                   th:text="${ap}+1">
                    _test_page_number_
                </a>
            </li>

            <!-- Next  arrow -->
            <li th:class="${usersPage.hasNext()} eq false ? 'disabled' : '' ">
                <a href="#" th:href="@{/user/admin/manage/page/{pageNumber}
                                (pageNumber=${usersPage.number} + 1)}">
                    Next &rsaquo;</a>
            </li>

            <!--Last arrow-->
            <li th:class="${usersPage.isLast()} eq true ? 'disabled' : '' ">
                <a href="#" th:href="@{/user/admin/manage/page/{pageNumber}
                                (pageNumber=${usersPage.totalPages} -1) }">
                    Last &raquo; </a>
            </li>

        </th:block>
    </ul>
</div>
<!-- END pagination-->


<div th:replace="template/fragments :: footer"><p>_test_footer_</p></div>
</body>
</html>

