<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template/header :: head">
    <meta charset="UTF-8">
    <title th:text="#{title.application}">_test_title_</title>
    <link rel="stylesheet" type="text/css" media="all" href="../resources/css/main.css" th:href="@{/css/main.css}"/>

    <!-- AngularJS -->
    <script src="../resources/js/angular.js" th:src="@{/js/angular.js}">
    </script>
    <script src="../resources/js/formApp.js" th:src="@{/js/formApp.js}">
    </script>

</head>
<body>
<div th:replace="template/header :: header" class="header"><p>_test_header_</p></div>


<div ng-app="myApp" class="main-content">

    <div th:replace="template/menu :: tablecontroller" class="table-controller">
        <table border="2">
            <tbody>
            <tr style="background-color: cornflowerblue">
                <th>Home</th>
                <th>Product</th>
                <!--<th>Message</th>-->
                <th>reserv</th>
            </tr>
            <tr>
                <td><a href="#">Home</a></td>
                <td><a href="#">_test_dao</a></td>
                <!--<td><a href="#" th:href="@{/mesageCreate}">Create Message</a></td>-->
                <td>reserv</td>
            </tr>
            </tbody>
        </table>
        <br/>
        <br/>
    </div>


    <h2>
        <span th:text="#{user.register.title}">_test_title_</span>
    </h2>

    <!-- ************************************** Form for user register ************************************** -->

    <form action="#" th:action="@{/user/register}" th:object="${user}" method="post"
          ng-controller="AppController as ctrl" name="myForm">
        <fieldset>

            <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul>

            <!--<div class='msg-block' ng-show='myForm.$error'>-->
                    <!--<span class='msg-error' ng-show='myForm.password-confirm.$error.pwmatch'>-->
                            <!--Passwords don't match.-->
                    <!--</span>-->
            <!--</div>-->


            <!-- **************** USER system fields block (name, email, password )*********************** -->

            <fieldset>

                <span th:text="#{user.form.msg}" class="msg-for-customer">_test_message_</span>
                <br/><br/>

                <div>
                    <label for="name">
                        <span th:text="#{user.nickname}">_test_nick-Name_</span>
                    </label>
                    <input type="text" th:field="*{name}" id="name" th:errorclass="fieldError"
                           ng-model="ctrl.user.username" class="username" placeholder="Enter your name" name="uname"
                           ng-minlength="3" required/>
                    <span ng-show="myForm.$dirty && myForm.uname.$error.required">This is a required field</span>
                    <span ng-show="myForm.$dirty && myForm.uname.$error.minlength">Minimum length required is 4</span>
                    <span ng-show="myForm.$dirty && myForm.uname.$invalid">This field is invalid </span><br/><br/>
                </div>
                <!--<div>-->
                <!--<label for="name">-->
                <!--<span th:text="#{user.nickname}">_test_nick-Name_</span>-->
                <!--</label>-->
                <!--<input type="text" th:field="*{name}" id="name" th:errorclass="fieldError"/>-->
                <!--</div>-->

                <div>
                    <label for="email">
                        <span th:text="#{user.email}">_test_email_</span>
                    </label>
                    <input type="email" th:field="*{email}" id="email" th:errorclass="fieldError"
                           ng-model="ctrl.user.email" class="email" placeholder="Enter your Email" name="email"
                           pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$" required/>
                    <span ng-show="myForm.$dirty && myForm.email.$error.required">Enter some email address!</span>
                    <span ng-show="myForm.$dirty && myForm.email.$error.pattern">Wrong Pattern!!!</span>
                    <span ng-show="myForm.$dirty && myForm.email.$invalid">Email is invalid </span><br/><br/>
                </div>


                <div>
                    <label for="password">
                        <span th:text="#{user.password}">_test_password_</span>
                    </label>
                    <input type="password" th:field="*{password}" id="password" th:errorclass="fieldError"
                           ng-model="ctrl.user.password" class="password" placeholder="Enter your Password"
                           name="password" pattern="^(?=.*\d)(?=.*[a-z]).{3,15}$" required/>
                    <span ng-show="myForm.$dirty && myForm.password.$error.required">Enter Password!</span>
                    <span ng-show="myForm.$dirty && myForm.password.$error.pattern">No secure: (from 3 to 15 symbol, with 1 number)</span>
                    <span ng-show="myForm.$dirty && myForm.password.$invalid ">!!! Password is invalid </span><br/><br/>
                </div>

            </fieldset>

            <br/>

            <!-- ******* USER (Customer) personal info block (firstName, lastName, phone)************* -->

            <fieldset>

                <span th:text="#{user.personal.info.msg}" class="msg-for-customer">_test_personalInfo_message_</span>
                <br/><br/>

                <div>
                    <label for="firstName">
                        <span th:text="#{user.firstName}">_test_first_Name_</span>
                    </label>
                    <input type="text" th:field="*{firstName}" id="firstName" th:errorclass="fieldError"/>
                </div>

                <div>
                    <label for="lastName">
                        <span th:text="#{user.lastName}">_test_lastName_</span>
                    </label>
                    <input type="text" th:field="*{lastName}" id="lastName" th:errorclass="fieldError"/>
                </div>

                <div>
                    <label for="phone">
                        <span th:text="#{user.phone}">_test_phone_</span>
                    </label>
                    <input type="text" th:field="*{phone}" id="phone" th:errorclass="fieldError"/>
                </div>

            </fieldset>

            <br/>

            <!-- ****** USER (customer) Address block (country, state, city, street, apartment, zipCode)********* -->

            <fieldset>

                <span th:text="#{user.address.msg}" class="msg-for-customer">_test_address_message_</span>
                <br/><br/>

                <div>
                    <label>Address: </label>
                    <table>
                        <thead>
                        <tr>
                            <th th:text="#{user.country}">_test_country:</th>
                            <th th:text="#{user.state}">_test_state:</th>
                            <th th:text="#{user.city}">_test_city:</th>
                            <th th:text="#{user.street}">_test_street:</th>
                            <th th:text="#{user.apartment}">_test_apartment:</th>
                            <th th:text="#{user.zipCode}">_test_zipCode:</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:object="${user.address}">
                            <td>
                                <input type="text" th:field="*{country}" th:errorclass="fieldError"/>
                            </td>
                            <td>
                                <input type="text" th:field="*{state}" th:errorclass="fieldError"/>
                            </td>
                            <td>
                                <input type="text" th:field="*{city}" th:errorclass="fieldError"/>
                            </td>
                            <td>
                                <input type="text" th:field="*{street}" th:errorclass="fieldError"/>
                            </td>
                            <td>
                                <input type="text" th:field="*{apartment}" th:errorclass="fieldError"/>
                            </td>
                            <td>
                                <input type="text" th:field="*{zipCode}" th:errorclass="fieldError"/>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>

            </fieldset>

            <br/><br/>

            <!--Save button-->

            <div class="submit">
                <button type="submit" name="save" ng-disabled="myForm.$invalid">Register</button>
            </div>

        </fieldset>
    </form>


</div>



<div th:replace="template/footer :: footer" class="footer"><p>_test_footer</p></div>
</body>
</html>